.uc_navbar *{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Start Nav Styles */
.uc_navbar .uc_nav-menu{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: column;
	padding: 15px 10px;
}
.uc_navbar .uc_nav-menu li {
  position: relative;
  text-align: right;
  padding-right:30px;
}
.uc_navbar .uc_nav-menu li .uc_dot {
  color: #fff;
  padding: 5px 0;
}
.uc_navbar .uc_nav-menu li .uc_dot::before,
.uc_navbar .uc_nav-menu li .uc_dot::after {
  display: block;
  position: absolute;
  content: '';
  border-radius: 50%;  
  top: 50%;  
  -webkit-transition: all .3s ease;  
  transition: all .3s ease;
}
.uc_navbar .uc_nav-menu li .uc_dot::before {
  width: 5px;
  height: 5px;
  right: 0;
  border: 2px solid #181818;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.uc_navbar .uc_nav-menu li .uc_dot::after {
  width: 15px;
  height: 15px;
  border: 2px solid #f44336;
  right: -5px;
  -webkit-transform: translateY(-50%) scale(0);
          transform: translateY(-50%) scale(0);
}
.uc_navbar .uc_nav-menu li .uc_dot.uc_active::before,
.uc_navbar .uc_nav-menu li:hover .uc_dot::before {
  background: #f44336;
  border-color: #f44336;
}
.uc_navbar .uc_nav-menu li .uc_dot.uc_active::after,
.uc_navbar .uc_nav-menu li:hover .uc_dot::after {
  -webkit-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1);  
}
.uc_navbar .uc_nav-menu li .uc_dot span {
  display: inline-block;
  opacity: 0;
  font-weight: 700;
  letter-spacing: .5px;
  text-transform: capitalize;
  padding: 10px 20px;
  border-radius: 3px;
  margin-right: 0px;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.uc_navbar .uc_nav-menu li .uc_dot span::before {
  display: block;
  position: absolute;
  content: '';
  border-left: 7px solid #f44336;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  top: 50%;
  -webkit-transform: translate(7px, -50%);
          transform: translate(7px, -50%);
  right: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.uc_navbar .uc_nav-menu li .uc_dot.uc_active span,
.uc_navbar .uc_nav-menu li:hover .uc_dot span {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
}
/* End Nav Styles */