.blox-alternating-card-timeline * { 
	margin: 0; 
	padding: 0; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}
.blox-alternating-card-timeline{
	font-family: inherit;
	font-size:14px;
	color:#333333;
	padding:0px 20px;
	margin:0px;
	list-style:none;
	text-align:left;
	}

.blox-alternating-card-timeline li{
	position:relative;
	padding:20px 0 0px 0;
	margin:0px 50% 0 0;
	}
	
.blox-alternating-card-timeline li:nth-child(2n){
	margin:-175px 0 0 50%;
	}
	
.blox-alternating-card-timeline li:nth-child(2n) .blox-wrapper{
	margin:0 0px 0 40px;
	}
	
.blox-alternating-card-timeline li:nth-child(2n) .blox-dote{
	right:auto;
	left:-41px;
	margin-left:-7px;
	}
	
.blox-alternating-card-timeline li:nth-child(2n) .blox-wrapper:before{
	right:auto;
	left:-9px;
	}
	
.blox-alternating-card-timeline li:nth-child(2n):before{
	height: calc(100% + 22px);
	right:auto;
	left:0;
	top:0;
	}					
	
.blox-alternating-card-timeline li ul{
	list-style:none;
	margin:10px 0 0 0;
	}	

.blox-alternating-card-timeline li ul li:before{
	display:none;
	}	
	
.blox-alternating-card-timeline li:last-child::before{
	height:100%;
	top: 0;
	}	
	
.blox-alternating-card-timeline li ul li{
	margin:0;
	padding:4px 0 4px 0;
	}	
	
.blox-alternating-card-timeline li:before{
	position:absolute;
	right:-1px;
	top:22px;
	content:'';
	border-left: 1px solid #D5D5D5;
	height:100%;
	display: block;
	}
	
.blox-alternating-card-timeline li .blox-wrapper{
	padding:15px;
	margin:0 40px 0 0px;
	position:relative;
	}
	
.blox-alternating-card-timeline li .blox-wrapper:before{
	display:block;
	content:'';
	}	

.blox-alternating-card-timeline .blox-dote{
	position:absolute;
	width:16px;
	height:16px;
	right:-41px;
	top:21px;
	margin:0px -7px 0px 0px;
	display:block;
	border-radius:50%;
	}

	
.blox-alternating-card-timeline .blox-content{
	text-transform: capitalize;
	font-size:12px;
	color: #999999;
	font-style: italic;
	}
.blox-alternating-card-timeline .blox-heading{
	color: #000;
	font-size:14px;
	margin:0 0 10px 0;
	}

.blox-alternating-card-timeline .blox-image{ margin-bottom: 10px;}

.blox-alternating-card-timeline .blox-image img{ width:100%;}
	
.blox-alternating-card-timeline li .blox-wrapper:before{
	width:20px;
	height:20px;
	display:block;
	content:'';
	transform: rotate(-45deg);
	position:absolute;
	right:-9px;
	top:20px;
	background-color:inherit;
	}
	
@media screen and (max-width: 767px){
	.blox-alternating-card-timeline li{ padding:65px 0 0 0;}
	.blox-alternating-card-timeline li,.blox-alternating-card-timeline li:nth-child(2n){ margin:0;}	
	.blox-alternating-card-timeline li .blox-dote,
	.blox-alternating-card-timeline li:nth-child(2n) .blox-dote{ right:auto; left:50%; margin-left:-7px; top:-45px;}
	.blox-alternating-card-timeline li:before,
	.blox-alternating-card-timeline li:nth-child(2n):before{ right:auto; left:50%; top:0;}
	.blox-alternating-card-timeline li .blox-wrapper,
	.blox-alternating-card-timeline li:nth-child(2n) .blox-wrapper{ margin:0;}
	.blox-alternating-card-timeline li .blox-wrapper:before,
	.blox-alternating-card-timeline li:nth-child(2n) .blox-wrapper:before{left:50%; top:-10px; right:auto; margin-left:-10px;}
	}		
	

	