.uc_icon_navbar *{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Start Nav Styles */
.uc_icon_navbar .uc_nav-menu{
	margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    padding: 0px;
    position: relative;
    width: auto;
}
.uc_icon_navbar .uc_nav-menu li {
	position: relative;
	margin: 2px 0;
  	text-align: right;
}
.uc_icon_navbar .uc_nav-menu li a.uc_dot {
	color: #fff;
  position: relative;
}
.uc_icon_navbar .uc_nav-menu li .uc_dot span {
	display: inline-block;
	opacity: 0;
	font-weight: 700;
	letter-spacing: .5px;
	text-transform: capitalize;
	background-color: #f44336;
	padding: 10px 20px;
	border-radius: 3px;
	margin-right: 30px;
	-webkit-transform: translateX(20px);
		  transform: translateX(20px);
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}
.uc_icon_navbar .uc_nav-menu li .uc_dot span::before {
  display: block;
  position: absolute;
  content: '';
  border-left: 7px solid #f44336;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  top: 50%;
  -webkit-transform: translate(7px, -50%);
          transform: translate(7px, -50%);
  right: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.uc_icon_navbar .uc_nav-menu li .uc_dot.uc_active span,
.uc_icon_navbar .uc_nav-menu li:hover .uc_dot span {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
}
/* End Nav Styles */


/*Align Left*/
.uc_icon_navbar.left .uc_nav-menu{
	align-items: start;
}
.uc_icon_navbar.left .uc_nav-menu li .uc_dot::before{
	left: 0; right: inherit;
}
.uc_icon_navbar.left .uc_nav-menu li .uc_dot::after{
	left: -5px; right: inherit;
}
.uc_icon_navbar.left .uc_nav-menu li .uc_dot span::before{
	left: -14px; right: inherit;
	border-right: 7px solid #f44336;
	border-left: 0px;
}


/*Position*/
.uc_icon_navbar.row .uc_nav-menu li .uc_dot span, 
.uc_icon_navbar.row .uc_nav-menu li .uc_dot.uc_active span, 
.uc_icon_navbar.row .uc_nav-menuli:hover .uc_dot span{
	margin: 30px 0 0;
}
.uc_icon_navbar.row .uc_nav-menu li .uc_dot span::before{
	left: 50%;
	right: inherit;
	top: -10px;
	transform: translateX(-50%) rotate(90deg);
	-webkit-transform: translateX(-50%) rotate(90deg);
}
.uc_icon_navbar.row .uc_nav-menu li .uc_dot::after {
    left: calc(50% - 9px);
    right: inherit;
	top: 0;
}
.uc_icon_navbar.row .uc_nav-menu li .uc_dot::before {
    left: calc(50% - 4px);
    right: inherit;
	top: 0;
}

