
.blox-news-scroller-with-calendar-date * { 
	margin: 0; 
	padding: 0; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}
.blox-news-scroller-with-calendar-date{
	font-family: inherit;
	border-bottom: 1px solid #E3E3E3;
}
.blox-news-scroller-with-calendar-date .bx-wrapper {
    background: transparent;
    border: 0px;
    box-shadow: none;
}
.blox-news-scroller-with-calendar-date .blox-scroller-box{
	overflow:hidden;
	clear:both;
	position:relative;
	padding:30px 30px 15px;
	border: 1px solid #E3E3E3;
	border-bottom:0px;
}
.blox-news-scroller-with-calendar-date .blox-scroller-box a{
	color:#fff;
	text-decoration:none;
}
.blox-news-scroller-with-calendar-date .blox-scroller-box a.flex-container {
	display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-direction: normal;
   -moz-box-direction: normal;
   -webkit-box-orient: horizontal;
   -moz-box-orient: horizontal;
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   -ms-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-box-pack: justify;
   -moz-box-pack: justify;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-align-content: flex-start;
   -ms-flex-line-pack: start;
   align-content: flex-start;
   -webkit-box-align: center;
   -moz-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
	
	position:relative;
}
.blox-news-scroller-with-calendar-date .blox-scroller-box .blox-scroller-content{
	overflow:hidden;
	
	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	
	-webkit-align-self: stretch;
	-ms-flex-item-align: stretch;
	align-self: stretch;
}
.blox-news-scroller-with-calendar-date .blox-scroller-box .blox-scroller-content .blox-heading{
	color: #4A4A4A; 
	font-size: 21px; 
	font-weight: bold; 
	line-height: 28px;
	margin-bottom:7px;
}
.blox-news-scroller-with-calendar-date .blox-scroller-box .blox-scroller-content .blox-date{
	color: #4A4A4A; 
	font-size: 13px; 
	font-weight: bold; 
	line-height: 22px;
	margin-bottom:7px;
}
.blox-news-scroller-with-calendar-date .blox-scroller-box .blox-scroller-content .blox-paragraph{
	color: #4A4A4A; 
	font-size: 14px; 
	font-weight: normal; 
	line-height: 22px;
	margin-bottom:15px;
}

.blox-news-scroller-with-calendar-date .blox-scroller-box .blox-calendar{
	margin-right:26px;
	width:73px;
	
	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-align-self: flex-start;
	-ms-flex-item-align: flex-start;
	align-self: flex-start;
}
.blox-news-scroller-with-calendar-date .blox-scroller-box .blox-calendar .blox-calendar-date{
	font-size: 26px;
	font-weight: bold;
	line-height: 28px;
	text-align: center;
	color:#4A4A4A;
	border: 1px solid #E3E3E3;
	padding:14px 20px;
}
.blox-news-scroller-with-calendar-date .blox-scroller-box .blox-calendar .blox-calendar-month{
	font-size: 13px;
	font-weight: 600;
	line-height: 22px;
	text-align: center;
	line-height:30px;
}


/*
   Legacy Firefox implementation treats all flex containers
   as inline-block elements.
*/

@-moz-document url-prefix() {
.flex-container {
   width: 100%;
   -moz-box-sizing: border-box;
   }

}


















