.uc_image-icon-flipbox *{margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;}

/*=========================
 Flip-css ======================= */

.uc_image-icon-flipbox .flip-box-wrap {height: 100%; display: block;	text-align: center;	position: relative;	-webkit-perspective: 1000px;-o-perspective: 1000px;-ms-perspective: 1000px;perspective: 1000px}
.uc_image-icon-flipbox .flip-box-wrap .flip-box {cursor: pointer;position: relative;width: 100%;height: 100%;-webkit-transition: 750ms;transition: 750ms;-ms-perspective: 1000px;-webkit-transform-style: eserve-3d;transform-style: preserve-3d}
.uc_image-icon-flipbox .flip-box-wrap .ifb-auto-height .ifb-face, .flip-box-wrap .ifb-custom-height .ifb-face {overflow: hidden}
.uc_image-icon-flipbox .flip-box-wrap .ifb-flip-box {height: 100%;	position: relative;	display: block;	-webkit-transform-style: preserve-3d;transform-style: preserve-3d}
.uc_image-icon-flipbox .flip-box-wrap .ifb-back, .flip-box-wrap .ifb-front {padding: 0;height: 100%;margin-bottom: 0;-moz-box-sizing: border-box;	-webkit-box-sizing: border-box;	box-sizing: border-box;-webkit-backface-visibility: hidden;backface-visibility: hidden;-webkit-transition: 750ms;	transition: 750ms;-webkit-transform-style: preserve-3d;	transform-style: preserve-3d}
.uc_image-icon-flipbox .flip-box-wrap .ifb-front {	z-index: 9;	-webkit-backface-visibility: hidden;backface-visibility: hidden}
.uc_image-icon-flipbox .flip-box-wrap .ifb-front * {-webkit-backface-visibility: hidden;backface-visibility: hidden}
.uc_image-icon-flipbox .flip-box-wrap .ifb-back {position: absolute;top: 0;z-index: -1;width:100%;}
.uc_image-icon-flipbox .flip-box-wrap:hover .ifb-back {z-index: 1}
.uc_image-icon-flipbox .flip-box-wrap .ifb-jq-height .ifb-back {display: block;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;	box-sizing: border-box;	height: 100%;bottom: 0}
.uc_image-icon-flipbox .flip-box-wrap .horizontal_flip_left .ifb-front {-webkit-transform: rotateY(0);	-ms-transform: rotateY(0);	transform: rotateY(0)}
.uc_image-icon-flipbox .flip-box-wrap .horizontal_flip_left .ifb-back {-webkit-transform: rotateY(-180deg);-ms-transform: rotateY(-180deg);transform: rotateY(-180deg)}
.uc_image-icon-flipbox .flip-box-wrap .horizontal_flip_left .ifb-hover .ifb-back {-webkit-transform: rotateY(0);-ms-transform: rotateY(0);transform: rotateY(0)}
.uc_image-icon-flipbox .flip-box-wrap .horizontal_flip_left .ifb-hover .ifb-front {-webkit-transform: rotateY(180deg);	-ms-transform: rotateY(180deg);	transform: rotateY(180deg)}
.uc_image-icon-flipbox .flip-box-wrap .horizontal_flip_right .ifb-front {-webkit-transform: rotateY(0);-ms-transform: rotateY(0);transform: rotateY(0)}

/*=========================
 Flip-css ======================= */

.uc_image-icon-flipbox:hover .uc_flipper, .uc_image-icon-flipbox.hover .uc_flipper {transform: rotateY(180deg); }
.uc_image-icon-flipbox, .uc_image-icon-flipbox .uc_front, .uc_image-icon-flipbox .uc_back {width:100%;height: 414px;}

/* flip speed goes here */
.uc_image-icon-flipbox .uc_flipper {transition: 0.6s;	transform-style: preserve-3d;position: relative;}
/* hide back of pane during swap */
.uc_image-icon-flipbox .uc_front, .uc_image-icon-flipbox .back {	backface-visibility: hidden;position: absolute;	top: 0;	left: 0;}

/*=========================
 front pane ======================= */
.uc_image-icon-flipbox .uc_front {z-index: 2;transform: rotateY(0deg);border:1px solid #f0f0f0; text-align:center;
-webkit-box-shadow: 0px 2px 2px 0px rgba(209,207,209,1);
-moz-box-shadow: 0px 2px 2px 0px rgba(209,207,209,1);
box-shadow: 0px 2px 2px 0px rgba(209,207,209,1);}
.uc_image-icon-flipbox .uc_front .uc_top-border{ position:absolute; top:0px; left:50%; width:90px; height:3px; 
-webkit-transform:translateX(-50%);
-ms-transform:translateX(-50%);
-moz-transform:translateX(-50%);
-o-transform:translateX(-50%);
transform:translateX(-50%)}
/*=========================
 front pane inner======================= */
.uc_image-icon-flipbox .uc_front .uc_front_inner{ border:1px solid #e8e8e8; height:408px; margin:2px;}
.uc_image-icon-flipbox .uc_front .uc_front_inner .uc_tag{margin: 18px 18px 0; position:relative; text-align:center;}
.uc_image-icon-flipbox .uc_front .uc_front_inner .uc_tag img{ display:inline-block;}
.uc_image-icon-flipbox .uc_front .uc_front_inner .uc_tag .uc_mid-box{ position:absolute; left:50%; bottom:-32px; 
-webkit-transform:translateX(-50%);
-ms-transform:translateX(-50%);
-moz-transform:translateX(-50%);
-o-transform:translateX(-50%);
transform:translateX(-50%); background:#d7d7d7;}

.uc_image-icon-flipbox .uc_front .uc_front_inner .uc_tag .uc_mid-box .fa{font-size: 30px;
-webkit-transform:translateX(-50%);
-ms-transform:translateX(-50%);
-moz-transform:translateX(-50%);
-o-transform:translateX(-50%); 
transform:translateX(-50%);position: absolute;left:50%;top:27%;}
.uc_image-icon-flipbox .uc_front .uc_front_inner .uc_tag .uc_mid-box .fa-coffee{  font-size:30px; background:#ffffff; margin:2px; padding:15px 17px;}

.uc_image-icon-flipbox .uc_front .uc_front_inner h2{ font-size:18px; color:#ffffff; text-transform:uppercase; font-weight:normal; display:inline-block; margin:65px 0 0;}

/*=========================
 back pane ======================= */
.uc_image-icon-flipbox .uc_back {	transform: rotateY(180deg);border:1px solid #f0f0f0; text-align:center;}

/*=========================
 front pane inner======================= */
.uc_image-icon-flipbox .uc_back .uc_front_inner{ border:1px solid #e8e8e8; height:407px; margin:2px;overflow: hidden;}

.uc_image-icon-flipbox .uc_front_inner .uc_tag .pic-box{ height: 100%; overflow:hidden;}
.uc_image-icon-flipbox .uc_back .uc_front_inner .uc_tag{margin:0px; position:relative;height: 407px;}
.pic-box img{ display:block; width:100%;}
.uc_image-icon-flipbox .uc_back .uc_front_inner .uc_tag .uc_mid-textbox{ position:absolute; left:0%; top:50%;
-webkit-transform:translateY(-50%);
-ms-transform:translateY(-50%);
-moz-transform:translateY(-50%);
-o-transform:translateY(-50%);
 transform:translateY(-50%);
 width: 100%; line-height:29px;}
.uc_image-icon-flipbox .uc_back .uc_front_inner .uc_tag .uc_mid-textbox h2{ font-size:18px; color:#5c4b52; text-transform:uppercase; font-weight:normal; display:inline-block; margin:0px; width:100%;}
.uc_image-icon-flipbox .uc_back .uc_front_inner .uc_tag .uc_mid-textbox a{ padding:6px 10px; display:inline-block; font-size:16px; text-decoration:none; margin:30px 0 0;}

@media only screen and (max-width: 767px) {
.uc_image-icon-flipbox .uc_front_inner .uc_tag .pic-box {height: 250px;}
}
@media only screen and (max-width: 414px) {
	.uc_image-icon-flipbox .uc_front_inner .uc_tag .pic-box{height:auto;}
	.uc_image-icon-flipbox{ width:100%;}
	.uc_image-icon-flipbox .uc_front .uc_front_inner { height: 98%; margin: 1%; width:98%;}
}
