
.link_hover_effect_with_image_tooltip * { 
	margin: 0; 
	padding: 0; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}
.link_hover_effect_with_image_tooltip{
	font-family: inherit;
}

.link_hover_effect_with_image_tooltip .uc_block {
  padding: 20px 20px;
}
.link_hover_effect_with_image_tooltip .uc_block__title {
  position: relative;
  font-size: 2rem;
  margin: 0 0 1.5rem 0;
  padding: 0.5rem 0;
  cursor: pointer;
  color: var(--color-blocktitle);
}
.link_hover_effect_with_image_tooltip .uc_block__title:hover {
  color: var(--color-blocktitle-hover);
}
.link_hover_effect_with_image_tooltip .uc_block__link {
  position: relative;
  cursor: pointer;
  padding: 0.5rem 0;
  color: var(--color-blocklink);
}
.link_hover_effect_with_image_tooltip .uc_block__link:hover {
  color: var(--color-blocklink-hover);
}
.link_hover_effect_with_image_tooltip .uc_block__title span,
.link_hover_effect_with_image_tooltip .uc_block__link span,
.link_hover_effect_with_image_tooltip .uc_content__text-link span {
  display: inline-block;
  white-space: pre;
}
.link_hover_effect_with_image_tooltip .uc_content__text {
  padding: 0 5vw 25vh;
  line-height: 2;
  color: var(--color-text);
}
.link_hover_effect_with_image_tooltip .uc_content__text-link {
  position: relative;
  font-weight: bold;
  cursor: pointer;
}
.link_hover_effect_with_image_tooltip .uc_content__text-link:first-of-type,
.link_hover_effect_with_image_tooltip .uc_content__text-link:nth-of-type(11),
.link_hover_effect_with_image_tooltip .uc_content__text-link:nth-of-type(21) {
  color: #f7e300;
}
.link_hover_effect_with_image_tooltip .uc_content__text-link:nth-of-type(2),
.link_hover_effect_with_image_tooltip .uc_content__text-link:nth-of-type(12),
.link_hover_effect_with_image_tooltip .uc_content__text-link:nth-of-type(22) {
  color: #002df7;
}
.link_hover_effect_with_image_tooltip .uc_content__text-link:nth-of-type(3),
.link_hover_effect_with_image_tooltip .uc_content__text-link:nth-of-type(13),
.link_hover_effect_with_image_tooltip .uc_content__text-link:nth-of-type(23) {
  color: #e51679;
}
.link_hover_effect_with_image_tooltip .uc_content__text-link:nth-of-type(4),
.link_hover_effect_with_image_tooltip .uc_content__text-link:nth-of-type(14) {
  color: #fff;
}
.link_hover_effect_with_image_tooltip .uc_content__text-link:nth-of-type(5),
.link_hover_effect_with_image_tooltip .uc_content__text-link:nth-of-type(15) {
  color: #00f73d;
}
.link_hover_effect_with_image_tooltip .uc_content__text-link:nth-of-type(6),
.link_hover_effect_with_image_tooltip .uc_content__text-link:nth-of-type(16) {
  color: #00e8f7;
}
.link_hover_effect_with_image_tooltip .uc_content__text-link:nth-of-type(7),
.link_hover_effect_with_image_tooltip .uc_content__text-link:nth-of-type(17) {
  color: #a753eb;
}
.link_hover_effect_with_image_tooltip .uc_content__text-link:nth-of-type(8),
.link_hover_effect_with_image_tooltip .uc_content__text-link:nth-of-type(18) {
  color: #ff2626;
}
.link_hover_effect_with_image_tooltip .uc_content__text-link:nth-of-type(9),
.link_hover_effect_with_image_tooltip .uc_content__text-link:nth-of-type(19) {
  color: #eb8e53;
}
.link_hover_effect_with_image_tooltip .uc_content__text-link:nth-of-type(10),
.link_hover_effect_with_image_tooltip .uc_content__text-link:nth-of-type(20) {
  color: #ff00e7;
}
.link_hover_effect_with_image_tooltip .uc_block[data-fx="1"] a::after,
.link_hover_effect_with_image_tooltip a.uc_content__text-link[data-fx="1"]::after,
.link_hover_effect_with_image_tooltip .uc_block[data-fx="2"] a::after,
.link_hover_effect_with_image_tooltip a.uc_content__text-link[data-fx="2"]::after {
  content: '';
  z-index: -1;
  width: 100%;
  bottom: 0.25rem;
  left: 0;
  position: absolute;
  height: 2px;
  background: currentColor;
  transform: scale3d(0, 1, 1);
  transform-origin: 0% 50%;
  transition: transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.link_hover_effect_with_image_tooltip a.uc_content__text-link[data-fx="1"]::after,
.link_hover_effect_with_image_tooltip a.uc_content__text-link[data-fx="2"]::after {
  bottom: 0;
}
.link_hover_effect_with_image_tooltip .uc_block[data-fx="1"] a:hover::after,
.link_hover_effect_with_image_tooltip a.uc_content__text-link[data-fx="1"]:hover::after,
.link_hover_effect_with_image_tooltip .uc_block[data-fx="2"] a:hover::after,
.link_hover_effect_with_image_tooltip a.uc_content__text-link[data-fx="2"]:hover::after {
  transform: scale3d(1, 1, 1);
}
.link_hover_effect_with_image_tooltip .uc_block[data-fx="6"] a::after,
.link_hover_effect_with_image_tooltip a.uc_content__text-link[data-fx="6"]::after {
  content: '';
  z-index: -1;
  width: 100%;
  bottom: 0.25rem;
  left: 0;
  position: absolute;
  height: 2px;
  background: currentColor;
  transform: scale3d(0, 1, 1);
  transform-origin: 100% 50%;
  transition: transform 0.7s cubic-bezier(0.86, 0, 0.07, 1);
}
.link_hover_effect_with_image_tooltip a.uc_content__text-link[data-fx="6"]::after {
  bottom: 0;
}
.uc_block[data-fx="6"] a:hover::after,
.link_hover_effect_with_image_tooltip a.uc_content__text-link[data-fx="6"]:hover::after {
  transform: scale3d(1, 1, 1);
}
.link_hover_effect_with_image_tooltip .uc_block[data-fx="14"] a::after,
.link_hover_effect_with_image_tooltip a.uc_content__text-link[data-fx="14"]::after {
  content: '';
  z-index: -1;
  width: 100%;
  bottom: 0.25rem;
  left: 0;
  position: absolute;
  height: 2px;
  background: currentColor;
  transform: scale3d(0, 1, 1);
  transform-origin: 0% 50%;
}
.link_hover_effect_with_image_tooltip a.uc_content__text-link[data-fx="14"]::after {
  bottom: 0;
}
.link_hover_effect_with_image_tooltip .uc_block[data-fx="14"] a:hover::after,
.link_hover_effect_with_image_tooltip a.uc_content__text-link[data-fx="14"]:hover::after {
  animation: loop 0.5s infinite;
}


@keyframes loop {
  0% {
    transform-origin: 0% 50%;
    transform: scale3d(0, 1, 1);
  }
  50% {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
  }
  51% {
    transform-origin: 100% 50%;
  }
  100% {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
  }
}
.hover-reveal {
  position: fixed;
  width: 200px;
  height: 150px;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
}
.hover-reveal__inner,
.hover-reveal__img {
  width: 100%;
  height: 100%;
  position: relative;
}
.hover-reveal__deco {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #181314;
}
.hover-reveal__img {
  background-size: cover;
  background-position: 50% 50%;
}
@media screen and (min-width: 53em) {
  .message {
    display: none;
  }
  .frame {
    position: fixed;
    text-align: left;
    z-index: 10000;
    top: 0;
    left: 0;
    display: grid;
    align-content: space-between;
    width: 100%;
    max-width: none;
    height: 100vh;
    padding: 2rem;
    pointer-events: none;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'title links' '... ...' '... github';
  }
  .frame__title {
    grid-area: title;
    padding: 0;
  }
  .frame__links {
    grid-area: links;
    padding: 0;
    justify-self: end;
  }
  .github {
    grid-area: github;
    justify-self: end;
    margin: 0;
  }
  .frame a {
    pointer-events: auto;
  }
  .block {
    align-items: flex-start;
  }
  .content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    margin: 0 auto;
    padding-top: 20vh;
    max-width: 750px;
    min-height: 100vh;
    text-align: left;
  }
  .content__text {
    grid-column: span 3;
  }
}
