
.blox_instagram_card * { 
	margin: 0; 
	padding: 0; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}
.blox_instagram_card .blox_instagram_card_container {
	background-color: #fff;
	padding: 0 0 10px;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 20px 30px 0 rgba(0,0,0,0.06);
}

.blox_instagram_card .blox_instagram_card_container img {
	vertical-align: top;
	height: auto;
	width: 100%;
	max-width: 100%;
}

.blox_instagram_card .blox_image_box {
	
}
.blox_instagram_card .blox_profile_pic {
	max-width: 88px;
	min-width: 88px;
	max-height: 88px;
	min-height: 88px;
	margin: 0 auto 10px;
	border: 3px solid #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	overflow: hidden;
}

.blox_instagram_card ul.blox_image_list {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.blox_instagram_card ul.blox_image_list li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.blox_instagram_card ul.blox_image_list li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.blox_instagram_card ul.blox_image_list li img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

.blox_instagram_card ul.blox_image_list li img {
	object-fit: cover;
}

.blox_instagram_card .blox_instagram_info {
	padding: 0px 0 10px;
	text-align: center;
	color: #4A4A4A;
	position: relative;
	z-index: 5;
	margin-top: -30px;
}

.blox_instagram_card .blox_profile_name {
	font-family: inherit;
	font-size: 18px;
	font-weight: bold;
	line-height: 28px;
}

.blox_instagram_card .blox_follow_count {
	font-size: 13px;
	line-height: 22px;
	font-family: inherit;
}

.blox_instagram_card .blox_follow_btn {
	font-size: 13px;
	line-height: 22px;
	font-family: inherit;
	margin: 20px 0 0;
}

.blox_instagram_card .blox_follow_btn a {
	color: #000000;
	font-family: inherit;
	font-size: 13px;
	font-weight: 600;
	line-height: 28px;
	text-align: center;
	display: inline-block;
	border: 1px solid #000000;
	border-radius: 5px;
	text-decoration: none;
	padding: 2px 30px;
}















