
.blox-news-scroller-with-image-background * { 
	margin: 0; 
	padding: 0; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}
.blox-news-scroller-with-image-background{
	font-family: inherit;
}
.blox-news-scroller-with-image-background .bx-wrapper {
    background: transparent;
    border: 0px;
    box-shadow: none;
}
.blox-news-scroller-with-image-background .blox-scroller-box{
	overflow:hidden;
	position:relative;
}
.blox-news-scroller-with-image-background .blox-scroller-box img{
	object-fit:cover;
	width:100%;
	height:145px;
}
.blox-news-scroller-with-image-background .blox-scroller-box .blox-scroller-content{
	position:absolute;
	left:0;
	bottom:0;
	z-index:999;
	padding:17px;
	background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
	width:100%;
}

.blox-news-scroller-with-image-background .blox-scroller-box .blox-scroller-content .blox-heading{
	color: #FFFFFF; 
	font-size: 18px; 
	font-weight: bold; 
	line-height: 28px;
}
.blox-news-scroller-with-image-background .blox-scroller-box .blox-scroller-content .blox-date{
	color: #FFFFFF; 
	font-size: 13px; 
	font-weight: bold; 
	line-height: 22px;
}



