
.blox-news-scroller-with-image-background * { 
	margin: 0; 
	padding: 0; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}
.blox-news-scroller-with-image-background{
	font-family: inherit;
}
.blox-news-scroller-with-image-background .bx-wrapper {
    background: transparent;
    border: 0px;
    box-shadow: none;
}
.blox-news-scroller-with-image-background .blox-scroller-box{
	overflow:hidden;
	position:relative;
}
.blox-news-scroller-with-image-background .blox-scroller-box.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.blox-news-scroller-with-image-background .blox-scroller-box a{
	color:#fff;
	
	-webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}

.blox-news-scroller-with-image-background .blox-scroller-box img{
	object-fit:cover;
	width:100%;
	height:145px;
}
.blox-news-scroller-with-image-background .blox-scroller-box .blox-scroller-content{
	position:absolute;
	left:0;
	bottom:0;
	z-index:999;
	padding:17px;
	background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
	width:100%;
}

.blox-news-scroller-with-image-background .blox-scroller-box .blox-scroller-content .blox-heading{
	color: #FFFFFF; 
	font-size: 18px; 
	font-weight: bold; 
	line-height: 28px;
}
.blox-news-scroller-with-image-background .blox-scroller-box .blox-scroller-content .blox-date{
	color: #FFFFFF; 
	font-size: 13px; 
	font-weight: bold; 
	line-height: 22px;
}



