.blox-alternating-date-circle-timeline * { 
	margin: 0; 
	padding: 0; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}
.blox-alternating-date-circle-timeline{
	font-family: inherit;
	font-size:14px;
	color:#333333;
	padding:20px 0 0 0px;
	margin:0px;
	list-style:none;
	text-align:left;
	}

.blox-alternating-date-circle-timeline li{
	position:relative;
	padding:20px 0 0px 0;
	margin:64px 50% 20px 0;
	text-align: right;
	}
	
.blox-alternating-date-circle-timeline li:nth-child(2n){
	margin:64px 0 20px 50%;
	text-align:left;
	}
	
.blox-alternating-date-circle-timeline li:nth-child(2n) .blox-date-box{
	right:auto;
	left:-35px;
	}

.blox-alternating-date-circle-timeline li:nth-child(2n) .blox-wrapper{
	padding: 0px 25px 0px 60px;
	}
	
.blox-alternating-date-circle-timeline li:nth-child(2n):before{
	right:auto;
	left:-3px;
	}			
	
.blox-alternating-date-circle-timeline li ul{
	list-style:none;
	margin:10px 0 0 0;
	}	

.blox-alternating-date-circle-timeline li ul li:before{
	display:none;
	}	
	
.blox-alternating-date-circle-timeline li ul li{
	margin:0;
	padding:4px 0 4px 0;
	}	
	
.blox-alternating-date-circle-timeline li:before{
	position:absolute;
	right:-3px;
	top:88px;
	content:'';
	height:100%;
	border-left:#d6e3ec 3px solid;
	}
	
.blox-alternating-date-circle-timeline li:last-child:before{
	display:none;
	}	
	
.blox-alternating-date-circle-timeline li .blox-wrapper{
	padding:0px 60px 0px 25px;
	position:relative;
	}
	
.blox-alternating-date-circle-timeline li:first-child{
	margin-top:0;
	}	
	

.blox-alternating-date-circle-timeline .blox-ring{
	position:absolute;
	width:16px;
	height:16px;
	left:0px;
	top:4px;
	margin:0px 0 0px -7px;
	display:block;
	border-radius:50%;
	}

.blox-alternating-date-circle-timeline .blox-date-box{
	position:absolute;
	right:-35px;
	top:0px;
	width:70px;
	height:70px;
	text-align:center;
	border-radius:50%;
	padding:5px 0 0 0;
	background-color:#ffffff;
	line-height: 18px;
	}	
	
.blox-alternating-date-circle-timeline .blox-date{
	font-size:14px;
	padding:0px;
	font-weight:700;
	margin:0px 0px 0px 0px;
	}	
		
.blox-alternating-date-circle-timeline .blox-month{
	font-size:16px;
	padding:0px;
	font-weight:700;
	margin:0px 0px 0px 0px;
	}	
	
.blox-alternating-date-circle-timeline .blox-year{
	font-size:11px;
	}	
	
.blox-alternating-date-circle-timeline .blox-content{
	font-size:14px;
	line-height:19px;
	}
.blox-alternating-date-circle-timeline .blox-title{
	font-size:18px;
	margin:0 0 7px 0;
	font-weight:700;
	} 	
	
@media screen and (max-width: 767px){
	.blox-alternating-date-circle-timeline li,.blox-alternating-date-circle-timeline li:nth-child(2n){ text-align:left; margin-right:0; margin-left:50px;}
	.blox-alternating-date-circle-timeline li:nth-child(2n) .blox-date-box, .blox-alternating-date-circle-timeline .blox-date-box { left:-35px; right:auto;}
	.blox-alternating-date-circle-timeline li:nth-child(2n):before, .blox-alternating-date-circle-timeline li:before { right:auto;}
	.blox-alternating-date-circle-timeline li:nth-child(2n) .blox-wrapper, .blox-alternating-date-circle-timeline li .blox-wrapper {padding: 0px 25px 0px 60px;}
	}
	