.blox-date-circle-timeline * { 
	margin: 0; 
	padding: 0; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}
.blox-date-circle-timeline{
	font-family: inherit;
	font-size:14px;
	color:#333333;
	padding:20px 0 0 0px;
	margin:0px;
	list-style:none;
	text-align:left;
	}

.blox-date-circle-timeline li{
	position:relative;
	padding:20px 0 0px 0;
	margin:64px 0 20px 64px;
	}
	

	
.blox-date-circle-timeline li ul{
	list-style:none;
	margin:10px 0 0 0;
	}	

.blox-date-circle-timeline li ul li:before{
	display:none;
	}	
	
.blox-date-circle-timeline li ul li{
	margin:0;
	padding:4px 0 4px 0;
	}	
	
.blox-date-circle-timeline li:before{
	position:absolute;
	left:-28px;
	top:88px;
	content:'';
	height:100%;
	border-left:#d6e3ec 3px solid;
	}
	
.blox-date-circle-timeline li:last-child:before{
	display:none;
	}	
	
.blox-date-circle-timeline li .blox-wrapper{
	padding:0px 27px 0px 27px;
	position:relative;
	}
	
.blox-date-circle-timeline li:first-child{
	margin:0px 0 20px 64px;
	}	
	

.blox-date-circle-timeline .blox-ring{
	position:absolute;
	width:16px;
	height:16px;
	left:0px;
	top:4px;
	margin:0px 0 0px -7px;
	display:block;
	border-radius:50%;
	}

.blox-date-circle-timeline .blox-date-box{
	position:absolute;
	left:-61px;
	top:0px;
	width:70px;
	height:70px;
	text-align:center;
	border-radius:50%;
	padding:5px 0 0 0;
	background-color:#ffffff;
	}	
	
.blox-date-circle-timeline .blox-date{
	font-size:14px;
	padding:0px;
	font-weight:700;
	margin:0px 0px 0px 0px;
	}	
		
.blox-date-circle-timeline .blox-month{
	font-size:16px;
	padding:0px;
	font-weight:700;
	margin:0px 0px 0px 0px;
	}	
	
.blox-date-circle-timeline .blox-year{
	font-size:11px;
	}	
	
.blox-date-circle-timeline .blox-content{
	font-size:14px;
	line-height:19px;
	}
.blox-date-circle-timeline .blox-title{
	font-size:18px;
	margin:0 0 7px 0;
	font-weight:700;
	} 	
	
@media screen and (max-width: 767px){
	.blox-date-circle-timeline .blox-heading-box{
		position:relative;
		left:0px;
		top:0px;
		}
	.blox-date-circle-timeline li{
		margin: 12px 0 30px 64px;
		}	
	}
	