.uc_solid_header *{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
}


.uc_solid_header .logo{
    margin:0;
	width:108px;
}	

.uc_solid_header img{
	width:100%;
	display: block;
}
.uc_solid_header .uc_container_inner{
	width: 80%;
	padding:0 0 0 7%;
	margin:15% 0;
	}
.uc_solid_header .uc_container_text_box{ 
	 background: #39cb7d none repeat scroll 0 0;
	 padding: 4%;
}


.uc_solid_header .uc_container_text_box h1{
	font-size:4vw;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	color:#ffffff;	
	line-height: 76px;
	padding:0px;
}
.uc_solid_header .uc_paragraph{
	font-family: 'PT Serif', serif;
	font-size:18px;
	color:#ffffff;
	font-weight:400;
	line-height: 27px;
	font-style:italic;
	width: 100%;
	margin: 25px 0 40px;
}

.uc_solid_header .uc_container_inner a.uc_button{
	font-size:13px;
	border:1px solid #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-weight:bold;
	color:#ffffff;
	padding: 20px 70px;
	text-decoration:none;
	display:inline-block;
	text-transform:uppercase;
	letter-spacing:2px;
	border-radius: 43px;
}
.uc_solid_header .top-text{
	font-size:13px;
	font-family: 'Montserrat', sans-serif;
	color:#ffffff;
	font-weight:700;
	 letter-spacing: 7px;
	 margin:0 0 25px 0;
}


@media only screen and (max-width:1300px) {
	.uc_solid_header .uc_paragraph{ line-height:normal;font-size: 24px;margin-top: 25px;}
	.uc_solid_header .uc_container_text_box a { margin-top: 20px;}
	.uc_solid_header .uc_container_inner{ width: 74%;}
	.uc_solid_header .uc_container_text_box h1{ padding:5px 0; line-height: normal;}
	.uc_solid_header .uc_paragraph{ width:70%; margin:15px 0;}
}
@media only screen and (max-width: 768px) {	
	.uc_solid_header .uc_container_inner { width: 100%;}
	.uc_solid_header .uc_paragraph {  font-size: 18px;}
	.uc_solid_header .uc_container_inner a.uc_button{ padding: 3% 11%;}
	.uc_solid_header .top-text	{margin: 0 0 5%;}
	.uc_solid_header .uc_container_inner { margin: 12% 0;}
}
@media only screen and (max-width: 640px) {	
	.uc_solid_header .uc_paragraph {  font-size: 15px;}
}
@media only screen and (max-width: 480px) {	
	.uc_solid_header .uc_paragraph {  font-size: 12px;}
}