
.uc_minimal_bullets *{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.uc_minimal_bullets .uc_minimal_bullets_left
{
	width:65%;
	float:left;
}

.uc_minimal_bullets .uc_minimal_bullets_left h2
{
	font-size:40px;
	line-height:45px;
	font-weight:300;
	margin-bottom:48px;
}

.uc_minimal_bullets .uc_minimal_bullets_left .uc_content 
{
	padding-top:40px;
	font-size:14px;
	line-height:24px;
}



.uc_minimal_bullets .uc_minimal_bullets_left .uc_content h3 small
{
	float:right;
	width:10px;
	height:10px;
	border-radius:50%;
	display:block;
	margin-top:12px;
}

.uc_minimal_bullets .uc_minimal_bullets_left .uc_content h3
{
	display:block;
	font-size:16px;
	margin:0 0 8px 0;
	width:100%;
	text-transform:uppercase;
}

.uc_minimal_bullets .uc_minimal_bullets_right img
{
	width:90%;
	margin:22% 5% 0;
}

.uc_minimal_bullets .uc_minimal_bullets_right
{
	width:30%;
	float:right;
	text-align:center;
}

@media only screen and (max-width: 550px) {
  
	.uc_minimal_bullets .uc_minimal_bullets_right{ float:left; width:100%;}
	.uc_minimal_bullets .uc_minimal_bullets_left{ float:left; width:100%;}
	.uc_minimal_bullets .uc_minimal_bullets_left h2{ font-size:34px; line-height:38px; margin-bottom:0px; margin-top:40px; }
	
}

.uc_minimal_bullets .uc_minimal_bullets_left h3{ background:url(uc_line_bg.jpg) repeat-x left bottom;}
.uc_minimal_bullets .uc_minimal_bullets_left h3 strong{ background-color:#ffffff; padding-right:15px; position:relative; bottom:-3px;}
.uc_minimal_bullets .uc_minimal_bullets_left h3 em { float:right; position:relative; bottom:-6px; width:25px;
	background:#ffffff;}