
.uc_timer_banner *{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.uc_timer_box > img{ width:100%;}
.uc_timer_banner .uc_timer_box{
	position:relative;
	font-weight:400;
	margin:0 auto;
	padding:0;
	clear:both;
	overflow:hidden;
  text-align:center;
}
.uc_timer_banner .uc_timer_content{
	position:absolute;
	left:0;
	width:100%;
	top:50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	color:#fff;
	text-align:center;
}
.uc_timer_banner .uc_timer_box img{
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
.uc_timer_banner .uc_timer_box:hover img{
	position:relative;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.uc_timer_banner .uc_timer_content h3{
	font-size:16px;
}
.uc_timer_banner .uc_timer_content h2{
	line-height:normal;
	margin:0 0 10px;
	padding:0;
	font-size:30px;
	line-height:32px;
}
.uc_timer_banner .uc_timer_content .uc_browse_btn{
	background: #11519b;
	font-size: 10px;
    letter-spacing: 1px;
	padding:7px 10px;
	display:inline-block;
	margin-top:10px;
	text-transform:uppercase;
	color:#fff;
	text-decoration:none;
}
.uc_timer_banner .uc_timer_content .uc_browse_btn:hover{
	background: #0E417C;	
}
.uc_timer_banner .uc_timer_content .uc_date_add_time span {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-weight: 700;
    margin: 0 0.05em 0.2em;
    padding: 8px 6px;
    font-size: 22px;
}
.uc_timer_banner .uc_timer_content .uc_date_add_time span b{
	display:block;
	font-weight:400;
	font-size:8px;
	margin-top:2px;
}

.uc_timer_content a:hover {
    opacity: 0.8;
}