
.uc_agency_header *{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.uc_agency_header{
	position:relative;
	overflow:hidden;
	clear:both;
	background:#f1f1f1;
}
.uc_agency_header .uc_container_left{
	float:left;
	width:50%;
}
.uc_agency_header .uc_container_left .uc_container_holder{
	width:40%;
	text-align:left;
	position:absolute;
	left:7%;
	top:50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	z-index:101;
	
	font-weight:400;
}
.uc_agency_header .uc_container_left .uc_container_holder h1{
	font-size: 13px;
    font-weight: 700;
    letter-spacing: 8px;
    margin: 0 0 18px;
	color:#212127;
	opacity:0.7;
}
.uc_agency_header .uc_container_left .uc_container_holder h2{
	font-size:68px;
	margin-bottom:23px;
	font-weight:700;
	line-height:71px;
	color:#212127;
	max-width:70%;
	letter-spacing:-4px;
	padding-bottom:26px;
	position:relative;
}
.uc_agency_header .uc_container_left .uc_container_holder h2::after, 
.uc_agency_header .uc_container_left .uc_container_holder h2::before{
	background: #000;
	content: "";
	display: block;
	height: 2px;
	position: absolute;
	bottom: 0%;
	width: 10%;
}
.uc_agency_header .uc_container_left .uc_container_holder .uc_paragraph{
	font-size:18px;
	margin-bottom:47px;
	color:#212127;
	font-weight:400;
	opacity:0.7;
	line-height:29px;
}
.uc_agency_header .uc_container_left .uc_container_holder a.uc_portfolio{
	border-radius: 40px;
    color: #ffffff;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    line-height: 52px;
    padding: 4px 50px;
    position: relative;
    text-align: center;
	text-transform:uppercase;
	text-decoration:none;
	letter-spacing:3px;
}

.uc_agency_header .uc_container_right{
	float:right;
	width:50%;
	position:relative;
}
.uc_agency_header .uc_container_right img{
	width:100%;
	height:auto;
}
.uc_agency_header .uc_container_right .uc_play{
	width:100%;
	text-align:center;
	position:absolute;
	left:0%;
	top:50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	z-index:101;
}
.uc_agency_header .uc_container_right .uc_play img{
	width:auto;
}


@media only screen and (max-width: 1240px) {
	.uc_agency_header .uc_container_left .uc_container_holder h2{ font-size:62px;}
}
@media only screen and (max-width: 1100px) {
	.uc_agency_header .uc_container_left .uc_container_holder h2{ font-size:58px;}
}
@media only screen and (max-width: 1024px) {
	.uc_agency_header .uc_container_left .uc_container_holder h2{ font-size:57px; line-height:60px; max-width:inherit;}
}
@media only screen and (max-width: 980px) {
	.uc_agency_header .uc_container_left .uc_container_holder h2{ font-size:45px; max-width: 85%; line-height:normal;}
	.uc_agency_header .uc_container_left .uc_container_holder .uc_paragraph{ font-size:14px; line-height:24px; margin-bottom:22px;}
	.uc_agency_header .uc_container_left .uc_container_holder a.uc_portfolio{ line-height:40px; padding:4px 30px;}
}
@media only screen and (max-width: 780px) {
	.uc_agency_header .uc_container_left .uc_container_holder h2{ font-size:32px; max-width: inherit; line-height:normal; letter-spacing:-3px;}
}
@media only screen and (max-width: 680px) {
	.uc_agency_header .uc_container_left .uc_container_holder h1{ letter-spacing:4px;}
	.uc_agency_header .uc_container_left .uc_container_holder h2{ font-size:22px; max-width: inherit; line-height:normal; letter-spacing:-1px; padding-bottom:10px; margin-bottom:10px;}
	.uc_agency_header .uc_container_left .uc_container_holder .uc_paragraph{ line-height:normal; margin-bottom:20px; }
	.uc_agency_header .uc_container_right .uc_play img { width: 30%;}
}
@media only screen and (max-width: 580px) {
	.uc_agency_header .uc_container_left .uc_container_holder h2{ font-size:18px;}
	.uc_agency_header .uc_container_left .uc_container_holder a.uc_portfolio { font-size: 9px; line-height: 33px; padding: 0 20px;}
	.uc_agency_header .uc_container_left .uc_container_holder .uc_paragraph{ font-size:12px;}
}
@media only screen and (max-width: 480px) {
	.uc_agency_header .uc_container_left .uc_container_holder h2{ font-size:32px; max-width: inherit; letter-spacing:-1px; line-height:normal;}
	.uc_agency_header .uc_container_right, .uc_agency_header .uc_container_left{ width:100%; float:none; }
	.uc_agency_header .uc_container_left{ padding:40px 0 30px 0px;}
	.uc_agency_header .uc_container_left .uc_container_holder { position: relative; top:0; width: 86%; transform:none;}
}
@media only screen and (max-width: 360px) {
	.uc_agency_header .uc_container_left .uc_container_holder h2{ font-size:28px; max-width: inherit; letter-spacing:-1px; line-height:normal;}
}
@media only screen and (max-width: 320px) {
	.uc_agency_header .uc_container_left .uc_container_holder h2{ font-size:24px; max-width: inherit; letter-spacing:-1px; line-height:normal;}
}








