
._blox_stripe_event_box * { 
	margin: 0; 
	padding: 0; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}
._blox_stripe_event_box ._blox_event_box{
	font-family: inherit;
	color:#fff;
	overflow:hidden;
}
._blox_stripe_event_box ._blox_event_box ._blox_left_box{
	float:left;
	vertical-align:top;
	text-align:center;
	padding:32px 26px 32px 44px;
}
._blox_stripe_event_box ._blox_event_box ._blox_left_box ._blox_date{
	font-weight:800;
	display:block;
	font-size:43px;
	line-height:49px;
}
._blox_stripe_event_box ._blox_event_box ._blox_left_box ._blox_month{
	font-weight:600;
	display:block;
	font-size:18px;
	line-height:24px;
}

._blox_stripe_event_box ._blox_event_box ._blox_right_box{
	display:inline-block;
	margin:0 -2px;
	overflow:hidden;
	padding:33px 26px 33px 26px;
}

._blox_stripe_event_box ._blox_event_box ._blox_right_box ._blox_title{
	font-weight:700;
	display:block;
	font-size:32px;
	line-height:41px;
}
._blox_stripe_event_box ._blox_event_box ._blox_right_box ._blox_bottom-box{
	font-weight:400;
	display:inline-block;
	font-size:18px;
	line-height:28px;
	margin-right:25px;
}
._blox_stripe_event_box ._blox_event_box ._blox_right_box ._blox_bottom-box:last-child{
	margin-right:0;
}
._blox_stripe_event_box ._blox_event_box ._blox_right_box ._blox_bottom-box i{
	margin-right:7px;
}


@media only screen and (max-width: 639px) {
	._blox_stripe_event_box ._blox_event_box ._blox_left_box{ padding:15px 15px 0;}
	._blox_stripe_event_box ._blox_event_box ._blox_right_box{ padding:15px;}
	._blox_stripe_event_box ._blox_event_box ._blox_right_box ._blox_title{ font-size:24px;}
}
@media only screen and (max-width: 479px) {
	._blox_stripe_event_box ._blox_event_box ._blox_left_box{ padding:10px 20px;}
	._blox_stripe_event_box ._blox_event_box ._blox_right_box{ padding:10px 10px;}
	._blox_stripe_event_box ._blox_event_box ._blox_right_box ._blox_title{ font-size:16px; line-height:28px;}
	._blox_stripe_event_box ._blox_event_box ._blox_left_box ._blox_date{ font-size:28px; line-height:34px;}
	._blox_stripe_event_box ._blox_event_box ._blox_left_box ._blox_month{ font-size:14px; line-height:normal;}
	._blox_stripe_event_box ._blox_event_box ._blox_right_box ._blox_bottom-box{ margin-right:15px; font-size:14px;}
}