
.uc_elegant_tabs *{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#uc_elegant_tabs{
	font-weight:400;
	font-size:14px;
	line-height:normal;
	padding:0;
	margin:0;
}

/*tab nav
===================*/
#uc_elegant_tabs .uc_tab_nav{
	list-style:none;
	padding:0;
	margin:0 0 17px;
}
#uc_elegant_tabs .uc_tab_nav li{
	display:inline-block;
	padding:0px 0px;
	position:relative;
}
#uc_elegant_tabs .uc_tab_nav li.r-tabs-state-active span.bbb{
	content:"";
	position:absolute;
	bottom:-8px;
	left:50%;
	margin-left:-8px;
	display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    
}
#uc_elegant_tabs .uc_tab_nav li a{
	display:block;
	padding:23px 30px;
	position:relative;
}
#uc_elegant_tabs .uc_tab_nav li a h2{
	font-weight: 700;
	font-size: 14px;
	display: inline-block;
	float: none;
	line-height: 24px;
	padding: 0;
	top: -4px;
	position: relative;
	margin: 0;
}
#uc_elegant_tabs .uc_tab_nav li a i{
	font-size:25px;
	display:block;
	margin-right:17px;
	display:inline-block;
}
#uc_elegant_tabs .uc_tab_nav li.r-tabs-state-active a{
	color:#585a61 !important;
}
#uc_elegant_tabs .uc_tab_nav li.r-tabs-state-active{
	background:#fff;
	box-shadow:0 10px 20px #f2f2f2;
	-moz-box-shadow:0 10px 20px #f2f2f2;
	-webkit-box-shadow:0 10px 20px #f2f2f2;
	-ms-box-shadow:0 10px 20px #f2f2f2;
}

/*tab content
===================*/
#uc_elegant_tabs .uc_tab_content{
	padding:32px 42px;
	font-size:14px;
	font-weight:400;
}
#uc_elegant_tabs .uc_tab_content p{
	line-height:31px;
	padding:0;
	margin:0;
}

@media only screen and (max-width: 883px) 
{
  #uc_elegant_tabs .uc_tab_nav li a
  {
    padding: 18px 9% !important;	
  }
}










