
.uc_solid_tab *{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#uc_solid_tab{
	font-weight:400;
	font-size:14px;
	line-height:normal;
	padding:0;
	margin:0;
}

/*tab nav
===================*/
#uc_solid_tab .uc_tab_nav{
	padding:20px 0px;
}
#uc_solid_tab .uc_tab_nav{
	list-style:none;
	padding:0;
	margin:0 0 17px;
}
#uc_solid_tab .uc_tab_nav li{
	display:inline-block;
	padding:17px 0px;
	position:relative;
}
#uc_solid_tab .uc_tab_nav li.r-tabs-state-active span.bbb{
	content:"";
	position:absolute;
	bottom:-25px;
	left:50%;
	margin-left:-8px;
	display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 8px;
}
#uc_solid_tab .uc_tab_nav li a{
	display:block;
	padding:8px 30px;
	position:relative;
	border-right:1px solid #b2b5be;
}
#uc_solid_tab .uc_tab_nav li:last-child a{
	border-right:0px;
}
#uc_solid_tab .uc_tab_nav li a h2{
	font-weight: 700;
	font-size: 14px;
	display: inline-block;
	float: none;
	line-height: 24px;
	padding: 0;
	top: -4px;
	position: relative;
	margin: 0;
}
#uc_solid_tab .uc_tab_nav li a i{
	font-size:25px;
	display:inline-block;
	margin-right:17px;
}
#uc_solid_tab .uc_tab_nav li.r-tabs-state-active a{
	color:#6cd0e5 !important;
}

/*tab content
===================*/
#uc_solid_tab .uc_tab_content{
	padding:32px 42px;
	font-size:14px;
	font-weight:400;
}
#uc_solid_tab .uc_tab_content p{
	line-height:31px;
	padding:0;
	margin:0;
}

@media only screen and (max-width: 888px) {
	#uc_solid_tab .uc_tab_nav li a{ padding:8px 15px;}
}









