
.uc_three_column_carousel *{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.uc_three_column_carousel .uc_three_column_carousel_holder{
	
}
.uc_three_column_carousel .uc_three_column_carousel_holder .uc_three_column_carousel_box{
	overflow: hidden;
	position: relative;
}

.uc_three_column_carousel .uc_three_column_carousel_holder .uc_three_column_carousel_box .uc_image_box{
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 1;
	position: relative;
	overflow: hidden;
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	
	-webkit-backface-visibility: hidden;
    -webkit-transition: all .8s cubic-bezier(.2,.55,.1,.7);
    -moz-transition: all .8s cubic-bezier(.2,.55,.1,.7);
    transition: all .8s cubic-bezier(.2,.55,.1,.7);
}
.uc_three_column_carousel .uc_three_column_carousel_holder .uc_three_column_carousel_box:hover .uc_image_box{
	transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
}
.uc_three_column_carousel .uc_three_column_carousel_holder .uc_three_column_carousel_box .uc_box_content{
	position: absolute;
    bottom: 0;
    left: 0;
    right:0;
	padding: 30px 35px 35px 35px;
	z-index: 10;
	opacity: 0;
	width: 100%;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
}
.uc_three_column_carousel .uc_three_column_carousel_holder .uc_three_column_carousel_box:hover .uc_box_content{
	opacity: 1;	
}
.uc_three_column_carousel .uc_three_column_carousel_holder .uc_three_column_carousel_box .uc_box_content .uc_title{
	font-size: 18px;
	color: inherit;
	margin-bottom: 5px;
	line-height: 36px;
	font-size: 25px;
	text-transform: uppercase;
}
.uc_three_column_carousel .uc_three_column_carousel_holder .uc_three_column_carousel_box .uc_box_content .uc_sub_title{
	font-size: 12px;
	color: inherit;
}
.uc_three_column_carousel .uc_three_column_carousel_holder .uc_three_column_carousel_box .uc_overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	opacity: 0;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
}
.uc_three_column_carousel .uc_three_column_carousel_holder .uc_three_column_carousel_box:hover .uc_overlay{
	opacity: 0.6;
}
.uc_three_column_carousel .uc_three_column_carousel_holder .owl-nav .owl-prev, 
.uc_three_column_carousel .uc_three_column_carousel_holder .owl-nav .owl-next {
	font-size: 0;
} 
.uc_three_column_carousel .uc_three_column_carousel_holder .owl-nav .owl-prev{
	position: absolute;
	left: 40px;
	top: 50%;
	z-index: 11;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	font-size: 0px;
}

.uc_three_column_carousel .uc_three_column_carousel_holder .owl-nav .owl-prev:hover{
	left: 30px;
}

.uc_three_column_carousel .uc_three_column_carousel_holder .owl-nav .owl-next{
	position: absolute;
	right: 40px;
	top: 50%;
	z-index: 11;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	font-size: 0px;
}

.uc_three_column_carousel .uc_three_column_carousel_holder .owl-nav .owl-next:hover{
	right: 30px;
}