.uc-sponser-marquee * { 
	margin: 0; 
	padding: 0; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}

.uc-sponser-marquee{
	max-width:1100px;
	padding:0 15px;
	margin:0 auto;
	}
.uc-sponser-marquee .bx-wrapper{
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	}
.uc-sponser-marquee img{
	margin:0px 15px;
	}	