.elementor-235 .elementor-element.elementor-element-fd0edd7{display:block;}@media(max-width:1024px){.elementor-235 .elementor-element.elementor-element-fd0edd7{display:block;}}@media(max-width:767px){.elementor-235 .elementor-element.elementor-element-fd0edd7{display:block;}}