.elementor-245 .elementor-element.elementor-element-a896b72{display:block;}@media(max-width:1024px){.elementor-245 .elementor-element.elementor-element-a896b72{display:block;}}@media(max-width:767px){.elementor-245 .elementor-element.elementor-element-a896b72{display:block;}}