.elementor-243 .elementor-element.elementor-element-714b6a5{display:block;}@media(max-width:1024px){.elementor-243 .elementor-element.elementor-element-714b6a5{display:block;}}@media(max-width:767px){.elementor-243 .elementor-element.elementor-element-714b6a5{display:block;}}