.uc-circle-footer * { 
	margin: 0; 
	padding: 0; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}
.uc-circle-footer{
	position:relative;
}
.uc-circle-footer .uc-footer-container{ 
	max-width: 100%; 
	text-align:center;
}
.uc-circle-footer .uc-footer-container .uc-content-box{ 
	display:inline-block;
	width:100%;
	vertical-align:top;
	position:relative;
	padding:90px 0 0 0;
}
.uc-circle-footer .uc-footer-container .uc-content-box .uc-icons{ 
	border: 3px solid #ffffff;
    border-radius: 50%;
    height: 120px;
    margin: 0 auto -120px;
    padding: 40px 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 120px;
}
.uc-circle-footer .uc-footer-container .uc-content-box .uc-icons i{
	font-size:30px;
}
.uc-circle-footer .uc-footer-container .uc-content-box .uc-info{ 
	
	line-height:30px;
	padding:110px 10px 35px 10px;
	font-weight:400;
	border-top:3px solid transparent;
}
.uc-circle-footer .uc-footer-container .uc-content-box strong{
	display:block;
	font-weight:700;
	font-size:18px;
	color:#000000;
}


@media only screen and (max-width: 639px) {
	.uc-circle-footer .uc-footer-container .uc-content-box{ width:94%; margin:0 0 25px;}
}


















