
.uc_elegant_side_tabs *{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#uc_elegant_side_tabs{
	font-weight:400;
	font-size:14px;
	line-height:normal;
	padding:0;
	margin:0;
	overflow:hidden;
}

/*tab nav
===================*/
#uc_elegant_side_tabs .uc_tab_nav{
	padding:14px 20px;
	float:left;
	list-style:none;
	width:16%;
}
#uc_elegant_side_tabs .uc_tab_nav li{
	display:block;
	position:relative;
	border-left:1px solid transparent;
}
#uc_elegant_side_tabs .uc_tab_nav li a{
	display:block;
	padding:19px 15px;
	position:relative;
}
#uc_elegant_side_tabs .uc_tab_nav li a span.bbb{
	width: 3px;
	position: absolute;
	left: -2px;
	top: 15%;
	border-left:3px;
	height:70%;
	display:none;
}
#uc_elegant_side_tabs .uc_tab_nav li a h2{
	font-weight:600;
	font-size:14px;
	display:inline-block;
	line-height:24px;
	padding:0;
	margin:0;
}

#uc_elegant_side_tabs .uc_tab_nav li.r-tabs-state-active a{
	color:#1b1b1b !important;
}
#uc_elegant_side_tabs .uc_tab_nav li.r-tabs-state-active a span.bbb{
	display:block;
}


/*tab content
===================*/
#uc_elegant_side_tabs .uc_tab_content{
	padding:47px 42px;
	font-size:14px;
	font-weight:400;
	float:right;
	width:70%;
	min-height:220px;
	border-left:1px solid transparent;
}
#uc_elegant_side_tabs .uc_tab_content p{
	line-height:31px;
	padding:0;
	margin:0;
}
#uc_elegant_side_tabs .uc_tab_content span.uc_top_border{
	width:50px;
	height:3px;
	display:block;
	margin-bottom:22px;
}

@media only screen and (max-width: 910px) {
	#uc_elegant_side_tabs .uc_tab_content{ width:60%;}
	#uc_elegant_side_tabs .uc_tab_nav{ width:20%;}
}

@media only screen and (max-width: 767px) {
	#uc_elegant_side_tabs .uc_tab_content span.uc_top_border{ display:none;}
}







