.uc_clean_white_services_box {
	position: relative;
	padding: 40px 30px 20px;
	text-align: center;
	transition: all 0.3s ease 0s;
	z-index: 0;
}
.uc_clean_white_services_box::before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0;
	height: 3px;
	width: 0%;
	opacity: 0;
	transition: all 0.3s ease 0s;
	z-index: 5;
}
.uc_clean_white_services_box:hover {
	box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.15);
	transition: all 0.3s ease 0s;
}
.uc_clean_white_services_box:hover::before {
	width: 100%;
	opacity: 1;
	transition: all 0.3s ease 0s;
}
.uc_clean_white_services_box:hover::after {
	height: 17px;
	opacity: 1;
	transition: all 0.3s ease 0s;
}
.uc_clean_white_services_box .uc_icon {
	display: inline-block;
	margin-bottom: 20px;
	font-size: 50px;
	line-height: 1;
}
.uc_clean_white_services_box .uc_title {
	display: block;
	margin-bottom: 15px;
	font: 700 20px "Open Sans";
	text-decoration: none;
	line-height: 1.1;
}
.uc_clean_white_services_box .uc_content {
	margin: 0 0 10px;
	font: 300 14px "Open Sans";
	color: #999;
	line-height: 21px;
}
