.uc_bold-flipbox * {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*=========================
 Flip-css ======================= */

.flip-box-wrap {display: block;	text-align: center;	position: relative;	-webkit-perspective: 1000px;-o-perspective: 1000px;-ms-perspective: 1000px;perspective: 1000px}
.flip-box-wrap .flip-box {cursor: pointer;position: relative;width: 100%;height: 100%;-webkit-transition: 750ms;transition: 750ms;-ms-perspective: 1000px;-webkit-transform-style: eserve-3d;transform-style: preserve-3d}
.flip-box-wrap .ifb-auto-height .ifb-face, .flip-box-wrap .ifb-custom-height .ifb-face {overflow: hidden}
.flip-box-wrap .ifb-flip-box {height: 100%;	position: relative;	display: block;	-webkit-transform-style: preserve-3d;transform-style: preserve-3d}
.flip-box-wrap .ifb-back, .flip-box-wrap .ifb-front {padding: 0;height: 100%;margin-bottom: 0;-moz-box-sizing: border-box;	-webkit-box-sizing: border-box;	box-sizing: border-box;-webkit-backface-visibility: hidden;backface-visibility: hidden;-webkit-transition: 750ms;	transition: 750ms;-webkit-transform-style: preserve-3d;	transform-style: preserve-3d}
.flip-box-wrap .ifb-front {	z-index: 9;	-webkit-backface-visibility: hidden;backface-visibility: hidden}
.flip-box-wrap .ifb-front * {-webkit-backface-visibility: hidden;backface-visibility: hidden}
.flip-box-wrap .ifb-back {position: absolute;top: 0;z-index: -1;width:100%;}
.flip-box-wrap:hover .ifb-back {z-index: 1}
.flip-box-wrap .ifb-jq-height .ifb-back {display: block;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;	box-sizing: border-box;	height: 100%;bottom: 0}
.flip-box-wrap .horizontal_flip_left .ifb-front {-webkit-transform: rotateY(0);	-ms-transform: rotateY(0);	transform: rotateY(0)}
.flip-box-wrap .horizontal_flip_left .ifb-back {-webkit-transform: rotateY(-180deg);-ms-transform: rotateY(-180deg);transform: rotateY(-180deg)}
.flip-box-wrap .horizontal_flip_left .ifb-hover .ifb-back {-webkit-transform: rotateY(0);-ms-transform: rotateY(0);transform: rotateY(0)}
.flip-box-wrap .horizontal_flip_left .ifb-hover .ifb-front {-webkit-transform: rotateY(180deg);	-ms-transform: rotateY(180deg);	transform: rotateY(180deg)}
.flip-box-wrap .horizontal_flip_right .ifb-front {-webkit-transform: rotateY(0);-ms-transform: rotateY(0);transform: rotateY(0)}

/*=========================
 Flip-css ======================= */
.uc_bold-flipbox, .uc_bold-flipbox .flip-box-wrap .ifb-flip-box{  width: 100%; height:235px;}	
/*=========================
 front pane ======================= */
.uc_bold-flipbox .uc_front { padding:5px; text-align:center;border-radius:7px;
-webkit-box-shadow: 4px 4px 11px -4px rgba(232,229,232,1);
-moz-box-shadow: 4px 4px 11px -4px rgba(232,229,232,1);
box-shadow: 4px 4px 11px -4px rgba(232,229,232,1);}

/*=========================
 front pane inner======================= */

.uc_bold-flipbox .uc_front .uc_inner-box{ background:#ff1844; border-radius:7px;}
.uc_bold-flipbox .uc_front .uc_inner-box .fa-gamepad{ font-size:100px; color:#fff; margin:40px 0;}
.uc_bold-flipbox .uc_front h2{ font-size:20px; color:#ffbb00; margin:10px 0 0;}

/*=========================
 back pane ======================= */
.uc_bold-flipbox .uc_back { padding:10px; text-align:cente; border-radius:7px;
-webkit-box-shadow: 4px 4px 11px -4px rgba(232,229,232,1);
-moz-box-shadow: 4px 4px 11px -4px rgba(232,229,232,1);
box-shadow: 4px 4px 11px -4px rgba(232,229,232,1);}

/*=========================
 front pane inner======================= */

.uc_bold-flipbox .uc_back .uc_front_inner-box{position:absolute; width:100%; left:0; top:50%; 
-webkit-transform:translatey(-50%);
-moz-transform:translatey(-50%);
-ms-transform:translatey(-50%);
-o-transform:translatey(-50%);
transform:translatey(-50%); text-align:center;}

.uc_bold-flipbox .uc_back .uc_front_inner-box p { margin:0px; line-height:28px; color:#fff; font-size:16px;margin:20px 15px 10px; font-weight:600;}


