.uc_fashion_header *{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
}

.uc_fashion_header{
	position:relative;
	width:100%;
}
	
.uc_fashion_header img{
	width:100%;
	display: block;
}

.uc_fashion_header .uc_pink_bg::before{   
	content: "";
    height: 100%;
    left: -13%;
    position: absolute;
    top: 0;
    transform: skewX(-20deg);
    width: 61%;
}
.uc_fashion_header .uc_container_text_box{ 
	padding:0 0 0 8%;
	position:absolute;	
	top:50%;
	left: 0%;
	width: 50%;
	-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
	transform: translateY(-50%);}

/*.uc_fashion_header .uc_container_text_box{
	-ms-transform: skewX(20deg); /* IE 9 */
    -webkit-transform: skewX(20deg); /* Safari */
    transform: skewX(20deg);
	position:relative;
}*/
.uc_fashion_header .uc_container_text_box{
	
}
.uc_fashion_header .uc_container_text_box h1{
	font-size:5vw;
	font-family: 'Alegreya', serif;
	font-weight:bold;
	color:#ffffff;	
	line-height: 96px;
	position:relative;
}
.uc_fashion_header .uc_container_text_box h1::after{ 
	position:absolute; 
	content:""; 
	background:url(triangle-bg.png) no-repeat left top; 
	width:207px; 
	height:36px;
	left:0px; 
	bottom:-78px;
}
.uc_fashion_header .uc_paragraph{
	font-family: 'Roboto', sans-serif;
	font-size:32px;
	color:#ffffff;
	font-weight:300;
	margin-top:125px;
	line-height: 44px;
	width: 71%;
}

.uc_fashion_header .uc_container_text_box a{
	font-size:22px;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	color:#ff2a75;
	padding:27px 52px;
	text-decoration:none;
	display:inline-block;
	text-transform:uppercase;
	letter-spacing:2px;
	margin-top:50px;
	border-radius: 43px;
}



@media screen and (min-width: 1025px) and (max-width: 1300px) {
	.uc_fashion_header .uc_paragraph{ line-height:normal;font-size: 20px;margin-top: 75px;}
	.uc_fashion_header .uc_container_text_box h1::after{bottom: -50px;}
	.uc_fashion_header .uc_container_text_box p{margin-top: 64px;}
	.uc_fashion_header .uc_container_text_box a { margin-top: 20px;}
}
@media screen and (min-width: 890px) and (max-width: 1024px) {
	.uc_fashion_header .uc_paragraph{ line-height:normal;font-size: 20px;}
	.uc_fashion_header .uc_container_text_box a { margin-top: 22px; padding:12px 28px;font-size: 14px;}
	.uc_fashion_header .uc_container_text_box h1{ line-height:normal;}
}
@media screen and (min-width: 657px) and (max-width: 889px) {
	
	
	.uc_fashion_header .uc_container_text_box h1::after { background: rgba(0, 0, 0, 0) url("triangle-bg.png") no-repeat scroll left top; bottom: -50px;}
	.uc_fashion_header .uc_paragraph{ line-height:normal;font-size: 20px;}
	.uc_fashion_header .uc_container_text_box a { margin-top: 22px; padding:12px 28px;font-size: 14px;}
	.uc_fashion_header .uc_container_text_box h1{ line-height:normal;}
	.uc_fashion_header .uc_paragraph{ margin-top: 74px;}
	
}

@media screen and (min-width: 481px) and (max-width: 656px) {
	
	.uc_fashion_header .uc_container_text_box { padding: 0 0 0 3%;}
	.uc_fashion_header .uc_container_text_box h1::after { display:none;}
	.uc_fashion_header .uc_paragraph{ line-height:normal;font-size: 18px;}
	.uc_fashion_header .uc_container_text_box a { margin-top: 22px; padding:12px 28px;font-size: 14px;}
	.uc_fashion_header .uc_container_text_box h1{ line-height:normal;}
	.uc_fashion_header .uc_paragraph{ margin-top: 24px;}
	
}
@media screen and (min-width: 320px) and (max-width: 480px) {
	
	.uc_fashion_header .uc_pink_bg::before{ width:65%;}
	.uc_fashion_header .uc_container_text_box { padding: 0 0 0 3%;width: 53%;}
	.uc_fashion_header .uc_container_text_box h1::after { display:none;}
	.uc_fashion_header .uc_paragraph{ line-height:normal;font-size: 16px;  margin-top: 4px; width: 95%;}
	.uc_fashion_header .uc_container_text_box a {  font-size: 12px; margin-top: 9px; padding: 9px 15px;}
	.uc_fashion_header .uc_container_text_box h1{ line-height:normal;}
}
@media only screen and (max-width: 320px) {
	.uc_fashion_header .uc_paragraph {
    font-size: 12px;}
}
	
