.r-tabs .r-tabs-nav {
    margin: 0;
    padding: 0;
}

.r-tabs .r-tabs-tab {
    display: inline-block;
    margin: 0;
    list-style: none;
}

.r-tabs .r-tabs-panel {
    padding: 0;
    display: none;
}

.r-tabs .r-tabs-accordion-title {
    display: none;
}

.r-tabs .r-tabs-panel.r-tabs-state-active {
    display: block;
}

/* Accordion responsive breakpoint */
@media only screen and (max-width: 767px) {
    .r-tabs .r-tabs-nav { display: none;}

    .r-tabs .r-tabs-accordion-title { display: block;}
	.r-tabs-accordion-title .r-tabs-anchor{ color:#9fa3a7; display:block; overflow:hidden; margin:20px 0 0; padding-bottom:10px;}
	.r-tabs-accordion-title .r-tabs-anchor i{
		font-size:25px;
		display:block;
		margin-right:17px;
		float:left;
	}
	.r-tabs-accordion-title .r-tabs-anchor h2{
		font-weight:700;
		font-size:14px;
		display:inline-block;
		line-height:24px;
		padding:0;
		margin:0;
	}
	.r-tabs-accordion-title .r-tabs-anchor em{
		font-size:25px;
		display:inline-block;
		margin-right:12px;
		background:#e8e9ed;
		text-align:center;
		height:20px;
		width:20px;
		border-radius:50%;
		font-style:normal;
		font-size:12px;
		color:#9fa3a7;
		line-height:20px;
	}
	
	
	.uc_border_tabs .uc_tab_content{ width:90% !important; padding:2% 5% !important; float:none !important;}
	.uc_border_tabs .uc_tab_content p{ line-height:24px;}
	
	.r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor{
		color:#292929 !important;
	}
	.r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor em{
		color:#fff !important;
		background:#5feb8a;
	}
	.uc_border_tabs .uc_tab_nav li.r-tabs-state-active a em{
		background:#5feb8a !important;
		color:#fff !important;
	}
	
}
@media only screen and (max-width: 414px) {
	.uc_border_tabs .uc_tab_content{ padding: 15px !important;}
	.r-tabs-accordion-title .r-tabs-anchor{ margin:10px 0 0;}
	.uc_border_tabs .uc_tab_content p{ line-height:22px !important;}
}