
.uc_fixed_box_postslider *{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.uc_fixed_box_postslider .uc_fbps_container{
	color:#fff;
	font-size:14px;
    font-weight:300;
	text-align:center;
}

.uc_fixed_box_postslider .uc_fbps_container .uc_fbps_slide{
	height:530px;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	}	
	
.uc_fixed_box_postslider .uc_fbps_container .uc_fbps_slide .uc_fbps_content{
	background-color:rgba(66,82,123,0.8);
	max-width:490px;
	padding:40px;
	margin:0 auto;
	top:50%;
	transform:translateY(-50%);
	position:relative;
 	}
	
	
.uc_fixed_box_postslider .uc_fbps_container .uc_fbps_slide .uc_fbps_container_title{
	font-size:32px;
	font-weight:700;
	margin:0 0 22px;
	}
	
.uc_fixed_box_postslider .uc_fbps_container .uc_fbps_slide .uc_fbps_container_title a{
	color:inherit;
	text-decoration:none;
	}	
	
.uc_fixed_box_postslider .uc_fbps_container .uc_fbps_slide .uc_fbps_container_meta{
   	text-transform:uppercase;
	font-size:11px;
	font-weight:400;
	margin:0 0 22px;
	}
	
.uc_fixed_box_postslider .uc_fbps_container .uc_fbps_slide .uc_fbps_container_desc{
	margin:0 0 25px;
	line-height:24px;
	}
	
.uc_fixed_box_postslider .uc_fbps_container .uc_fbps_slide .uc_fbps_cta{
	background-color:#01cff8;
	display:inline-block;
	padding:13px 22px;
	border-radius:19px;
	font-size:11px;
	font-weight:600;
	text-transform:uppercase;
	color:#fff;
	text-decoration:none;
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	}
	
.uc_fixed_box_postslider .uc_fbps_container .uc_fbps_slide .uc_fbps_cta:hover{
	background-color:#03b1d4;
	}
.uc_fixed_box_postslider .uc_fbps_container .owl-dots {
    margin: 30px 0;
    text-align: center;
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
}
	
.uc_fixed_box_postslider .uc_fbps_container  .owl-dots .owl-dot{
	display:inline-block;
	background-color:#d9dce5;
	width:12px;
	height:12px;
	border-radius:6px;
	margin:0 5px;
	outline:0;
	}
	
.uc_fixed_box_postslider .uc_fbps_container  .owl-dots .owl-dot.active{
	background-color:#42527b;
	}
	
.uc_fixed_box_postslider .uc_fbps_container  .owl-nav{
	width:100%;
	overflow:hidden;
	position:absolute;
	left:0;
	top:50%;
	margin:-20px 0 0;
	}
	
.uc_fixed_box_postslider .uc_fbps_container  .owl-nav .owl-prev,
.uc_fixed_box_postslider .uc_fbps_container  .owl-nav .owl-next{
	background-color:#42527b;
	color:#fff;
	width:40px;
	height:40px;
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	font-size:16px;
	outline:0;
  	line-height:40px;
  	text-align: center;
	}
	
.uc_fixed_box_postslider .uc_fbps_container  .owl-nav .owl-prev:hover,
.uc_fixed_box_postslider .uc_fbps_container  .owl-nav .owl-next:hover{
	background-color:#01cff8;
	}
	
.uc_fixed_box_postslider .uc_fbps_container  .owl-nav .owl-prev span,
.uc_fixed_box_postslider .uc_fbps_container  .owl-nav .owl-next span{
	line-height:40px;
	}		
	
.uc_fixed_box_postslider .uc_fbps_container  .owl-nav .owl-prev{
	float:left;
	}

.uc_fixed_box_postslider .uc_fbps_container  .owl-nav .owl-next{
	float:right;
	}			
	

	
@media screen and (max-width: 767px) {
	.uc_fixed_box_postslider .uc_fbps_container .uc_fbps_slide{ height:446px;}
	.uc_fixed_box_postslider .uc_fbps_container .uc_fbps_slide .uc_fbps_content{ padding:20px 50px;}
	.uc_fixed_box_postslider .uc_fbps_container .uc_fbps_slide .uc_fbps_container_title{ font-size:22px;}
}																						  				
		
