
.uc_classic_subtle_food_menu *{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.uc_classic_subtle_food_menu {
	display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
}
.uc_classic_subtle_food_menu .uc_food_menu_image {
	margin-right: 20px;
    background: #fff;
    box-shadow: 0px 4px 8px 0px rgba(111, 102, 88, 0.15);
    padding: 8px;
}
.uc_classic_subtle_food_menu .uc_food_menu_image a {
	display: block;
	position: relative;
}
.uc_classic_subtle_food_menu .uc_food_menu_image img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
.uc_classic_subtle_food_menu .uc_food_menu_image a:before {
	content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.uc_classic_subtle_food_menu .uc_food_menu_image a:hover:before {
	opacity: 1;
}
.uc_classic_subtle_food_menu .uc_food_menu_image a span {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 30px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.uc_classic_subtle_food_menu .uc_food_menu_image a:hover span {
	opacity: 1;
}



.uc_classic_subtle_food_menu .uc_food_menu_content {
	flex: 2;
}
.uc_classic_subtle_food_menu .uc_food_menu_content .uc_title {
	font-size: 22px;
	line-height: 1.2em;
    font-weight: 700;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #222222;
    padding-right: 70px;
    border-bottom: 1px dashed #b6b0a8;
}
.uc_classic_subtle_food_menu .uc_food_menu_content .price {
	position: absolute;
    top: 0;
    right: 0;
    display: block;
    color: #c59d5f;
    font-size: 22px;
    line-height: 32px;
    font-weight: 700;
}

.uc_classic_subtle_food_menu .uc_food_menu_content .uc_content {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #827f79;
}

















