.---------Protection--------{}

.uc-columns-gallery-wrapper, 
.uc-columns-gallery-wrapper *{
	transition: all !important;
	-o-transition: all !important;
	-webkit-transition: all;
	-moz-transition: all !important;
	-ms-transition: all !important;
	max-width:none;
	margin: 0 auto;
}

.uc-columns-gallery-wrapper{
	z-index:0;
} 

.uc-columns-item-wrapper img{
	width:auto;
	max-width:none;
	margin:0px;
	padding:0px;
}

.uc-columns-videoplayer-wrapper video{
	height:100%;
	width:100%;
	visibility: visible !important;
}


.---------General_Styles--------{}

.uc-columns-rtl{
	direction:rtl;
}

.uc-columns-gallery-wrapper{
	overflow:hidden;
	position:relative;
	font-family:Arial, Helvetica, sans-serif;
}

.uc-columns-error-message{
	text-align:center;
	padding-top:30px;
	padding-bottom:30px;
	font-size:20px;
	color:#F30D0D;
}

.uc-columns-error-message-wrapper{
	width:100%;
	height:100%;
	border:1px solid black;
}

.uc-columns-gallery-wrapper .uc-columns-canvas-pie{
	position:absolute;
	z-index:4;
}

.uc-columns-gallery-wrapper .uc-columns-progress-bar{
	position:absolute;
	overflow:hidden;
	z-index:4;
}

.uc-columns-gallery-wrapper .uc-columns-progress-bar-inner{
	xposition:absolute;
}

.uc-columns-gallery-wrapper.uc-columns-fullscreen{
	height: 100% !important;
	width: 100% !important;
	max-width:none !important;
	max-height:none !important;
}

.uc-columns-gallery-wrapper.uc-columns-fake-fullscreen{
	position: fixed !important;
	height: auto !important;
	width: auto !important;
	max-width:none !important;
	max-height:none !important;
	margin: 0px !important;
	padding: 0px !important;
	top: 0px !important;
	left: 0px !important;
	bottom: 0px !important;
	right: 0px !important;
	z-index: 999999 !important;
}

.uc-columns-body-fullscreen{
	overflow: hidden !important;
	height: 100% !important;
	width: 100% !important;
	margin:0px !important;
	padding:0px !important;	
}

.uc-columns-gallery-wrapper .uc-columns-preloader-trans{
	display:block;
	height:35px;
	width:32px;
	height:32px;
	background-image:url('images/loader_skype_trans.gif');
	background-repeat:no-repeat;
}


.--------------SLIDER------------------{}

.uc-columns-gallery-wrapper .uc-columns-slider-wrapper{
	position:absolute;
	overflow:hidden;
	z-index:1;
	background-color:#000000;
}


.uc-columns-slider-wrapper .uc-columns-slide-wrapper{
	position:absolute;
}

.uc-columns-slide-wrapper.uc-columns-slide-clickable{
	cursor:pointer;
}

.uc-columns-slider-wrapper .uc-columns-slider-inner{
	position:absolute;
	z-index:0;
}

.uc-columns-slider-wrapper .uc-columns-item-wrapper{
	position:absolute;
	overflow:hidden;
}

.uc-columns-slider-wrapper,
.uc-columns-item-wrapper img{
	
	-webkit-user-select: none;	/* make unselectable */         
	-moz-user-select: none; 
	-ms-user-select: none;	
	max-width:none !important;
	box-sizing:border-box;
}

.uc-columns-slider-wrapper .uc-columns-slider-preloader{
	position:absolute;
	z-index:1;
	border:2px solid #ffffff;
	border-radius:6px;
	background-color:#ffffff;
	background-position:center center;
	background-repeat:no-repeat;
}

.uc-columns-slider-preloader.uc-columns-loader1{
	width:30px;
	height:30px;
	background-image:url('images/loader-white1.gif');
}

.uc-columns-slider-preloader.uc-columns-loader1.uc-columns-loader-black{
	background-image:url('images/loader-black1.gif');	
}
	
.uc-columns-slider-preloader.uc-columns-loader2{
	width:32px;
	height:32px;
	background-image:url('images/loader-white2.gif');
}

.uc-columns-slider-preloader.uc-columns-loader2.uc-columns-loader-black{
	background-image:url('images/loader-black2.gif');	
}

.uc-columns-slider-preloader.uc-columns-loader3{
	width:38px;
	height:38px;
	background-image:url('images/loader-white3.gif');
}

.uc-columns-slider-preloader.uc-columns-loader3.uc-columns-loader-black{
	background-image:url('images/loader-black3.gif');	
}

.uc-columns-slider-preloader.uc-columns-loader4{
	width:32px;
	height:32px;
	background-image:url('images/loader-white4.gif');
	background-color:white;
}

.uc-columns-slider-preloader.uc-columns-loader4.uc-columns-loader-black{
	background-image:url('images/loader-black4.gif');	
}

.uc-columns-slider-preloader.uc-columns-loader5{
	width:60px;
	height:8px;
	background-image:url('images/loader-white5.gif');
	background-color:white;
	border:none;
	border-radius:0px;
}

.uc-columns-slider-preloader.uc-columns-loader5.uc-columns-loader-black{
	background-image:url('images/loader-black5.gif');
	border:2px solid #000000;
}

.uc-columns-slider-preloader.uc-columns-loader6{
	width:32px;
	height:32px;
	background-image:url('images/loader-white6.gif');
}

.uc-columns-slider-preloader.uc-columns-loader6.uc-columns-loader-black{
	background-image:url('images/loader-black6.gif');	
}

.uc-columns-slider-preloader.uc-columns-loader7{
	width:32px;
	height:10px;
	background-image:url('images/loader-white7.gif');
	border-width:3px;
	border-radius:3px;
}

.uc-columns-slider-preloader.uc-columns-loader7.uc-columns-loader-black{
	background-image:url('images/loader-black7.gif');	
}

.uc-columns-slider-preloader.uc-columns-loader-black{
	border-color:#000000;
	background-color:#000000;
}

.uc-columns-slider-preloader.uc-columns-loader-nobg{
	background-color:transparent;
}

.uc-columns-slider-wrapper .uc-columns-button-videoplay{
	position:absolute;
	z-index:2;
	cursor:pointer;	
}

.uc-columns-slider-wrapper .uc-columns-button-videoplay.uc-columns-type-square{	
	width:86px;
	height:66px;
	background-image:url('images/play-button-square.png');
	background-position:0px -66px;
}

.uc-columns-slider-wrapper .uc-columns-button-videoplay.uc-columns-type-square.uc-columns-button-hover{
	background-position:0px 0px;
}


.uc-columns-slider-wrapper .uc-columns-button-videoplay.uc-columns-type-round{	
	width:76px;
	height:76px;
	background-image:url('images/play-button-round.png');
	opacity:0.9;
	filter: alpha(opacity = 90);
	transition: all 0.3s ease 0s !important;
}


.uc-columns-slider-wrapper .uc-columns-button-videoplay.uc-columns-type-round.uc-columns-button-hover{
	opacity:1;
	filter: alpha(opacity = 100);
	transition: all 0.3s ease 0s !important;
}


.--------------VIDEO_PLAYER------------------{}

.uc-columns-gallery-wrapper .uc-columns-videoplayer{
	position:absolute;
	z-index:100;	
	background-color:#000000;
	background-image:url('images/loader-black1.gif');	
	background-repeat:no-repeat;
	background-position:center center;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.uc-columns-videoplayer .uc-columns-videoplayer-wrapper{
	width:100%;
	height:100%;
	background-color:#000000;
	background-image:url('images/loader-black1.gif');	
	background-repeat:no-repeat;
	background-position:center center;
}


.uc-columns-videoplayer .uc-columns-videoplayer-button-close{
	position:absolute;
	height:64px;
	width:64px;
	background-image:url('images/button-close.png');
	cursor:pointer;
	z-index:1000;
}


.uc-columns-videoplayer .uc-columns-videoplayer-button-close:hover{
	background-position: 0px -64px;
}

.--------------THUMBS_STRIP------------------{}


.uc-columns-gallery-wrapper .uc-columns-thumbs-strip,
.uc-columns-gallery-wrapper .uc-columns-thumbs-grid{
	position:absolute;
	overflow:hidden;
	
	-webkit-user-select: none;	/* make unselectable */         
	-moz-user-select: none; 
	-ms-user-select: none;
	
	xbackground-color:green;
	z-index:10;
}

.uc-columns-thumbs-strip.uc-columns-dragging{
	xcursor: -webkit-grab;
	xcursor: -moz-grab;
}

.uc-columns-gallery-wrapper .uc-columns-thumbs-strip-inner,
.uc-columns-gallery-wrapper .uc-columns-thumbs-grid-inner{
	position:absolute;
}

.uc-columns-thumb-wrapper.uc-columns-thumb-generated{
	position:absolute;
	overflow:hidden;
	
	-webkit-user-select: none;	/* make unselectable */         
	-moz-user-select: none; 
	-ms-user-select: none;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}


.uc-columns-thumb-wrapper.uc-columns-thumb-generated .uc-columns-thumb-loader,
.uc-columns-thumb-wrapper.uc-columns-thumb-generated .uc-columns-thumb-error{
	position:absolute;
	top:0px;
	left:0px;
	background-repeat:no-repeat;
	background-position:center center;
}

.uc-columns-thumb-wrapper .uc-columns-thumb-border-overlay{
	position:absolute;
	top:0px;
	left:0px;
	z-index:4;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	border-style:solid;
}

.uc-columns-thumb-wrapper .uc-columns-thumb-overlay{
	position:absolute;
	top:0px;
	left:0px;
	z-index:3;
}

.uc-columns-thumb-wrapper.uc-columns-thumb-generated .uc-columns-thumb-loader-dark{
	background-image:url('images/loader.gif');
}

.uc-columns-thumb-wrapper.uc-columns-thumb-generated .uc-columns-thumb-loader-bright{
	background-image:url('images/loader_bright.gif');
}

.uc-columns-thumb-wrapper.uc-columns-thumb-generated .uc-columns-thumb-error{
	background-image:url('images/not_loaded.png');
}

.uc-columns-thumb-wrapper.uc-columns-thumb-generated img{
	position:absolute;
	z-index:1;
	max-width:none !important;
}

.uc-columns-thumb-wrapper.uc-columns-thumb-generated img.uc-columns-thumb-image-overlay{
	position:absolute;
	z-index:2;
	max-width:none !important;
}


/* bw desaturate effect lightweight */
img.uc-columns-bw-effect{
	filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */	
	-moz-filter: grayscale(100%);
	-webkit-filter: grayscale(100%); 
}

/* blur effect desaturate effect lightweight */
img.uc-columns-blur-effect{
	
	filter: blur(0.8px); 
	-webkit-filter: blur(0.8px);
	-moz-filter: blur(0.8px);
	-o-filter: blur(0.8px);
	-ms-filter: blur(0.8px);    
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id='blur'><feGaussianBlur stdDeviation=\'0.8\' /></filter></svg>#blur"); /* Firefox 10+, Firefox on Android */
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0.8');
}

img.uc-columns-sepia-effect{
	-webkit-filter: sepia(1);
	-webkit-filter: sepia(100%); -moz-filter: sepia(100%);
	-ms-filter: sepia(100%); -o-filter: sepia(100%);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'sepia\'><feColorMatrix values=\'0.14 0.45 0.05 0 0 0.12 0.39 0.04 0 0 0.08 0.28 0.03 0 0 0 0 0 1 0\' /></filter></svg>#sepia"); /* Firefox 10+, Firefox on Android */
	filter: sepia(100%);
	background-color: #5E2612;
	filter: alpha(opacity = 50);
	zoom:1;
}


.--------------BULLETS------------------{}


.uc-columns-gallery-wrapper .uc-columns-bullets{
	position: absolute;
	top:0px;
	left:0px;
	margin:0px;
	padding:0px;
}

.uc-columns-gallery-wrapper .uc-columns-bullets .uc-columns-bullet{
	background-repeat:no-repeat;
	cursor:pointer;
	display:block;
	float:left;
	z-index:2;
}

.uc-columns-gallery-wrapper .uc-columns-bullets .uc-columns-bullet:first-child{
	margin-left:0px;
}


.--------------TEXT_PANEL------------------{}

.uc-columns-gallery-wrapper .uc-columns-textpanel{
	position:absolute;
	overflow:hidden;
}

.uc-columns-slider-wrapper .uc-columns-textpanel{
	z-index:2;
}

.uc-columns-gallery-wrapper .uc-columns-textpanel-bg,
.uc-columns-gallery-wrapper .uc-columns-textpanel-title,
.uc-columns-gallery-wrapper .uc-columns-textpanel-description{
	display:block;
	position:absolute;
	margin:0px;
	padding:0px;
}


.uc-columns-gallery-wrapper .uc-columns-textpanel-bg{
	background-color:#000000;
	opacity:0.4;
	filter: alpha(opacity = 40);
	z-index:1;
}

.uc-columns-textpanel-textwrapper{
	overflow:hidden;
}

.uc-columns-gallery-wrapper .uc-columns-textpanel-title{
	font-size:16px;
	font-weight:bold;
	color:white;
	text-align:left;
	z-index:2;	
}

.uc-columns-gallery-wrapper .uc-columns-textpanel-description{
	font-size:14px;
	color:white;
	text-align:left;
	z-index:3;
}


.--------------ZOOM_PANEL------------------{}

.uc-columns-slider-wrapper .uc-columns-zoompanel{
	position:absolute;
	top:200px;
	left:100px;
}

.uc-columns-zoompanel .uc-columns-zoompanel-button{
    background-repeat: no-repeat;
    cursor:pointer;
    display:block;
}


.--------------ZOOM_PANEL_BUTTONS------------------{}

.uc-columns-gallery-wrapper .uc-columns-arrow-left{
	position:absolute;	
	background-repeat:no-repeat;
	display:block;
	cursor:pointer;
}

.uc-columns-gallery-wrapper .uc-columns-arrow-right{
	position:absolute;
	background-repeat:no-repeat;
	cursor:pointer;
}


.--------------GRID_PANEL_AND_ARROWS------------------{}


.uc-columns-gallery-wrapper .uc-columns-grid-panel{
	position:absolute;
    background-color: #000000;
    xbackground-color: blue;

    z-index:2;
}


.uc-columns-gallery-wrapper .uc-columns-grid-panel .grid-arrow{
	position:absolute;
	background-repeat:no-repeat;
	cursor:pointer;
	z-index:11;
}

.uc-columns-gallery-wrapper .uc-columns-grid-panel .grid-arrow.uc-columns-button-disabled{
	cursor:default;	
}


/* handle tip */
.uc-columns-gallery-wrapper .uc-columns-panel-handle-tip{
	position:absolute;
	z-index:13;
	cursor:pointer;
}

.uc-columns-gallery-wrapper .uc-columns-overlay-disabled{
	position:absolute;
	z-index:100;
	width:100%;
	height:100%;
	background-color:#000000;
	opacity: 0.3;
    filter: alpha(opacity=30);	
	background-image:url('images/cover-grid.png');
}


.--------------STRIP_PANEL------------------{}

.uc-columns-gallery-wrapper .uc-columns-strip-panel{
	position:absolute;
	background-color:#000000;
	z-index:2;
}

.uc-columns-strip-panel .uc-columns-strip-arrow{
	position:absolute;	
	cursor:pointer;
}

.uc-columns-strip-panel .uc-columns-strip-arrow.uc-columns-button-disabled{
	cursor:default;
}


.uc-columns-strip-panel .uc-columns-strip-arrow-tip{
	position:absolute;
}

.--------------TILES------------------{}

.uc-columns-thumb-wrapper.uc-columns-tile{
	display:block;
	position:absolute;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	overflow:hidden;
	padding:0px;
	margin:0px;
}

.uc-columns-tile .uc-columns-tile-cloneswrapper{
	position:absolute;
	width:0px;
	height:0px;
	top:0px;
	left:0px;
	overflow:hidden;
	opacity:0;
	filter: alpha(opacity = 90);
}


/* transit something */
/* transit fixed size items */
/* transit image overlay */

.uc-columns-tiles-transit.uc-columns-tiles-transition-active .uc-columns-thumb-wrapper.uc-columns-tile,
.uc-columns-tiles-transit.uc-columns-tiles-transition-active .uc-columns-thumb-wrapper.uc-columns-tile .uc-columns-trans-enabled{
	transition: left 0.7s ease 0s, top 0.7s ease 0s, width 0.7s ease 0s, height 0.7s ease 0s !important;
}


.uc-columns-thumb-wrapper.uc-columns-tile.uc-columns-tile-clickable{
	cursor: pointer;
}

.uc-columns-thumb-wrapper.uc-columns-tile .uc-columns-image-container{
	position:absolute;
	overflow:hidden;
	z-index:1;
	top:0px;
	left:0px;
}

.uc-columns-thumb-wrapper.uc-columns-tile img.uc-columns-thumb-image{

	-webkit-user-select: none;	/* make unselectable */         
	-moz-user-select: none; 
	-ms-user-select: none;	
	max-width:none !important;
	max-height:none !important;

	display:block;	
	border:none;
	padding:0px !important;
	margin:0px !important;
	
	width:auto;
	height:auto;
	position:absolute;
}


.uc-columns-thumb-wrapper.uc-columns-tile .uc-columns-tile-image-overlay{
	position:absolute;
	overflow:hidden;
	z-index:2;
	top:0px;
	left:0px;
}

.uc-columns-thumb-wrapper.uc-columns-tile .uc-columns-tile-image-overlay img{
	width:100%;
	max-width:none !important;	
}

.uc-columns-tiletype-justified .uc-columns-thumb-wrapper.uc-columns-tile .uc-columns-tile-image-overlay img{
	height:100%;
	max-width:none !important;	
}

.uc-columns-thumb-wrapper.uc-columns-tile .uc-columns-tile-icon{
	position:absolute;
	width:38px;
	height:38px;
	background-repeat:no-repeat;
	background-position:0 0;
	xbackground-color:green;
	z-index:6;
	top:1px;
	left:1px;
	cursor:pointer;
}

.uc-columns-thumb-wrapper.uc-columns-tile .uc-columns-tile-icon.uc-columns-icon-link{
	background-image:url('images/icon-link32.png');	
}

.uc-columns-thumb-wrapper.uc-columns-tile .uc-columns-tile-icon.uc-columns-icon-zoom{
	background-image:url('images/icon-zoom32.png');	
}

.uc-columns-thumb-wrapper.uc-columns-tile .uc-columns-tile-icon.uc-columns-icon-play{
	background-image:url('images/icon-play32.png');	
}

.uc-columns-thumb-wrapper.uc-columns-tile .uc-columns-tile-icon:hover{
	background-position:0 -38px;
}


.uc-columns-thumbs-grid .uc-columns-tile-image-overlay img{
	width:auto;
	height:auto;
	position:absolute;
	max-width:none !important;
}

/* text panel on tiles*/

.uc-columns-tile .uc-columns-textpanel{
	z-index: 5;
	cursor:default;
}

.uc-columns-tile.uc-columns-tile-clickable .uc-columns-textpanel{
	cursor:pointer;
}

.uc-columns-tile .uc-columns-textpanel-title{
	font-size:14px;
	font-weight:bold;
}

.--------------CAROUSEL------------------{}

.uc-columns-gallery-wrapper .uc-columns-carousel-wrapper{
	position:absolute;
	overflow:hidden;
}

.uc-columns-gallery-wrapper .uc-columns-carousel-inner{
	position:absolute;
}


.------------------LIGHTBOX---------------------{}

.uc-columns-gallery-wrapper.uc-columns-lightbox{
	display: none;
	position: fixed;
    border: none;
    padding:0px;
    margin:0px;
    outline: invert none medium;
    overflow: hidden;
    top: 0;
    left: 0;
	width: 100%;
    height: 100%;
	max-width:none !important;
	max-height:none !important;
    z-index: 999999;
}

.uc-columns-lightbox .uc-columns-lightbox-top-panel{
	position:absolute;
	z-index:2;
}

.uc-columns-lightbox .uc-columns-lightbox-top-panel-overlay{
	width:100%;
	height:100%;
	position:absolute;
	background-color:#000000;
	opacity:0.4;
	filter: alpha(opacity=40);
}


.uc-columns-lightbox .uc-columns-lightbox-overlay{
	z-index:1;
	width:100%;
	height:100%;
    background-color:#000000;
    opacity:1;
}

.uc-columns-lightbox .uc-columns-slider-wrapper{
	z-index:1;
	xbackground-color:green;
	background-color:transparent !important;
}

.uc-columns-lightbox .uc-columns-textpanel{
	z-index: 2;
}


.uc-columns-lightbox .uc-columns-lightbox-arrow-left,
.uc-columns-lightbox .uc-columns-lightbox-arrow-right{
	position:absolute;
	width:50px;
	height:55px;
	background-repeat:no-repeat;
	background-image:url('images/lightbox-arrow-left.png');
	background-position:0px 0px;
	z-index:3;
	cursor:pointer;
}

.uc-columns-lightbox .uc-columns-lightbox-arrow-right{
	background-image:url('images/lightbox-arrow-right.png');
}

.uc-columns-lightbox .uc-columns-lightbox-button-close{
	position:absolute;
	width:36px;
	height:36px;
	background-repeat:no-repeat;
	background-image:url('images/lightbox-icon-close.png');
	background-position:0px 0px;
	z-index:4;
	cursor:pointer;
}


.uc-columns-lightbox-compact .uc-columns-lightbox-button-close{
	width:45px;
	height:41px;
	background-image:url('images/lightbox-icon-close-compact2.png');
}


.uc-columns-lightbox .uc-columns-lightbox-arrow-left.uc-columns-arrow-hover,
.uc-columns-lightbox .uc-columns-lightbox-arrow-right.uc-columns-arrow-hover{
	background-position:0px -55px;	
}

.uc-columns-lightbox .uc-columns-lightbox-button-close.uc-columns-button-hover{
	background-position:0px -35px;
}

.uc-columns-lightbox-compact .uc-columns-lightbox-button-close.uc-columns-button-hover{
	background-position:0px -40px;
}

.uc-columns-lightbox .uc-columns-lightbox-numbers{
	position:absolute;
	color:#e5e5e5;
	font-size:12px;
	top:14px;
	left:8px;
	z-index:3;
}

.uc-columns-lightbox-compact .uc-columns-lightbox-numbers{
	font-size: 14px;
	padding-right:5px;
	padding-top:7px;
}

.uc-columns-lightbox .uc-columns-textpanel-title,
.uc-columns-lightbox .uc-columns-textpanel-description{
	font-size: 14px;
	font-weight: normal;
	color: #e5e5e5;
}

.uc-columns-lightbox-compact .uc-columns-textpanel-title,
.uc-columns-lightbox-compact .uc-columns-textpanel-description{
	color:#F3F3F3;
	font-size: 16px;
}

.------------------LOADMORE_BUTTON---------------------{}

.uc-columns-loadmore-wrapper{
	margin-top:20px;
	text-align:center;	
}

.uc-columns-loadmore-wrapper .uc-columns-loadmore-button{
	display:inline-block;
	padding:5px;
	border:1px solid #939393;
	text-decoration:none;
	color: #4F4F4F;
}

.uc-columns-loadmore-wrapper .uc-columns-loadmore-error{
	color:red;
}

.uc-columns-loadmore-wrapper .uc-columns-loadmore-button:hover{
	background-color:#F0F0F0;	
	color:#515151;
}

.uc-columns-loadmore-wrapper .uc-columns-loadmore-loader{
	color: #515151;
}



.------------------CATEGORY_TABS---------------------{}

	.uc-columns-tabs-wrapper{
		margin-top:0px;
		margin-bottom:20px;
		text-align:center;
	}

	.uc-columns-tabs-wrapper a.uc-columns-tab{
	    display: inline-block;
		cursor:pointer;
		text-decoration:none;
		color:#ffffff;
		padding-left:8px;
		padding-right:8px;
		padding-top:6px;
		padding-bottom:6px;
		margin-left:5px;
		background-color:#333333;
		border-radius:3px;
		font-size:12px;
		font-weight:normal;
		
		border: 1px solid #969696;
	}
	
	.uc-columns-tabs-wrapper a.uc-columns-tab:hover{
		background-color: #707070 !important;
	}

	.uc-columns-tabs-wrapper a.uc-columns-tab.uc-columns-tab-selected,
	.uc-columns-tabs-wrapper a.uc-columns-tab.uc-columns-tab-selected:hover{
		background-color: #2077A2 !important;
		cursor:default !important;
	}

	.uc-columns-tabs-wrapper a.uc-columns-tab:first-child{
		margin-left:0px !important;
	}


.------------------DEFAULT_SKIN---------------------{}

/* --- arrows -- */

.uc-columns-arrow-left.uc-columns-skin-default,
.uc-columns-arrow-right.uc-columns-skin-default{
	width:15px;
	height:30px;
	background-image:url('images/slider_arrow_left.png');
	background-position:0px 0px;
}

.uc-columns-arrow-right.uc-columns-skin-default{
	background-image:url('images/slider_arrow_right.png');
}

.uc-columns-arrow-left.uc-columns-skin-default.uc-columns-arrow-hover,
.uc-columns-arrow-right.uc-columns-skin-default.uc-columns-arrow-hover{
	background-position:0px -30px;
}

.uc-columns-arrow-left.uc-columns-skin-default.uc-columns-arrow-disabled,
.uc-columns-arrow-right.uc-columns-skin-default.uc-columns-arrow-disabled{
	background-position:0px -60px;
}

/* --- bullets -- */

.uc-columns-bullets.uc-columns-skin-default .uc-columns-bullet{
	width:15px;
	height:15px;
	background-image:url('images/slider_bullets.png');
	background-position:top left;
	margin-left:5px;
}

.uc-columns-bullets.uc-columns-skin-default .uc-columns-bullet.uc-columns-bullet-active{
	background-position:bottom left;
}

.uc-columns-bullets.uc-columns-skin-default.uc-columns-bullets-gray .uc-columns-bullet{ 
	background-image:url('images/tile_bullets_gray.png');
}

.uc-columns-bullets.uc-columns-skin-default.uc-columns-bullets-blue .uc-columns-bullet{ 
	background-image:url('images/tile_bullets_blue.png');
}

.uc-columns-bullets.uc-columns-skin-default.uc-columns-bullets-brown .uc-columns-bullet{ 
	background-image:url('images/tile_bullets_brown.png');
}

.uc-columns-bullets.uc-columns-skin-default.uc-columns-bullets-green .uc-columns-bullet{ 
	background-image:url('images/tile_bullets_green.png');
}

.uc-columns-bullets.uc-columns-skin-default.uc-columns-bullets-red .uc-columns-bullet{ 
	background-image:url('images/tile_bullets_red.png');
}

.uc-columns-button-tile-navigation{
	width:36px;
	height:36px;
	background-position:top left;
	cursor:pointer;
	float:left;
}

.uc-columns-button-tile-navigation.uc-columns-button-tile-left{
	background-image:url('images/tile_button_left.png');
}

.uc-columns-button-tile-navigation.uc-columns-button-tile-right{
	background-image:url('images/tile_button_right.png');
}

.uc-columns-button-tile-navigation:hover{
	background-position:bottom left;
}

.uc-columns-button-tile-navigation.uc-columns-button-disabled{
	opacity:0.6;
}

.uc-columns-button-tile-navigation.uc-columns-button-disabled:hover{
	background-position:top left;	
}

.uc-columns-button-tile-navigation.uc-columns-button-tile-play{
	background-image:url('images/tile_button_play_pause.png');
	width:35px;
} 

.uc-columns-button-tile-navigation.uc-columns-button-tile-play.uc-columns-pause-icon{
	background-position:bottom left;
} 

.uc-columns-button-tile-navigation.uc-columns-button-tile-play:hover{
	background-position:top left;
} 

.uc-columns-button-tile-navigation.uc-columns-button-tile-play.uc-columns-pause-icon:hover{
	background-position:bottom left;
} 


/* --- play button -- */

.uc-columns-button-play.uc-columns-skin-default{
	position:absolute;
	background-image:url('images/button_playpause.png');
    width:14px;
    height:17px;
    cursor:pointer;
	background-position:0px 0px;
}

.uc-columns-button-play.uc-columns-skin-default.uc-columns-button-hover{
	background-position:0px -17px;	
}

.uc-columns-button-play.uc-columns-skin-default.uc-columns-stop-mode{
	background-position:0px -34px;
}

.uc-columns-button-play.uc-columns-skin-default.uc-columns-stop-mode.uc-columns-button-hover{
	background-position:0px -51px;
}

/* --- fullscreen button -- */

.uc-columns-button-fullscreen.uc-columns-skin-default{
	position:absolute;
	background-image:url('images/button_fullscreen.png');
    width:16px;
    height:16px;
    cursor:pointer;
	background-position:0px 0px;
}

.uc-columns-button-fullscreen.uc-columns-skin-default.uc-columns-button-hover{
	background-position:0px -16px;	
}

.uc-columns-button-fullscreen.uc-columns-skin-default.uc-columns-fullscreenmode{
	background-position:0px -32px;
}

.uc-columns-button-fullscreen.uc-columns-skin-default.uc-columns-fullscreenmode.uc-columns-button-hover{
	background-position:0px -48px;
}


/* --- zoom panel --- */

.uc-columns-zoompanel.uc-columns-skin-default .uc-columns-zoompanel-button{
    background-repeat: no-repeat;
    cursor:pointer;
    height: 23px;
    width: 23px;
    margin-top:5px;
    background-position: 0px 0px;	
}

.uc-columns-zoompanel.uc-columns-skin-default .uc-columns-zoompanel-plus{
	margin-top:0px;
}

.uc-columns-zoompanel.uc-columns-skin-default .uc-columns-zoompanel-plus{
	background-image:url('images/icon_zoom_plus.png');
}

.uc-columns-zoompanel.uc-columns-skin-default .uc-columns-zoompanel-minus{
	background-image:url('images/icon_zoom_minus.png');
}

.uc-columns-zoompanel.uc-columns-skin-default .uc-columns-zoompanel-return{
	background-image:url('images/icon_zoom_back.png');
}

.uc-columns-zoompanel.uc-columns-skin-default .uc-columns-zoompanel-button.uc-columns-button-hover{
    background-position: 0px -23px;
}

.uc-columns-zoompanel.uc-columns-skin-default .uc-columns-zoompanel-button-disabled,
.uc-columns-zoompanel.uc-columns-skin-default .uc-columns-zoompanel-button.uc-columns-button-hover.uc-columns-zoompanel-button-disabled{
    background-position: 0px -46px;
    cursor:default;
}


/* --- Grid Panel Arrows -- */

/*--- down arrow ---*/

.uc-columns-gallery-wrapper .uc-columns-grid-panel .grid-arrow-down.uc-columns-skin-default{
	width:30px;
	height:15px;
	background-position:0px 0px;	
	background-image:url('images/arrow_grid_down.png');
}

.uc-columns-gallery-wrapper .uc-columns-grid-panel .grid-arrow-down.uc-columns-skin-default.uc-columns-button-hover{
	background-position:0px -15px;
}

.uc-columns-gallery-wrapper .uc-columns-grid-panel .grid-arrow-down.uc-columns-skin-default.uc-columns-button-hover.uc-columns-button-disabled,
.uc-columns-gallery-wrapper .uc-columns-grid-panel .grid-arrow-down.uc-columns-skin-default.uc-columns-button-disabled{
	background-position:0px -30px;
}


/*--- up arrow ---*/

.uc-columns-gallery-wrapper .uc-columns-grid-panel .grid-arrow-up.uc-columns-skin-default{
	width:30px;
	height:15px;
	background-position:0px 0px;	
	background-image:url('images/arrow_grid_up.png');
}

.uc-columns-gallery-wrapper .uc-columns-grid-panel .grid-arrow-up.uc-columns-skin-default.uc-columns-button-hover{
	background-position:0px -15px;	
}

.uc-columns-gallery-wrapper .uc-columns-grid-panel .grid-arrow-up.uc-columns-skin-default.uc-columns-button-hover.uc-columns-button-disabled,
.uc-columns-gallery-wrapper .uc-columns-grid-panel .grid-arrow-up.uc-columns-skin-default.uc-columns-button-disabled{
	background-position:0px -30px;
}

/*--- left arrow ---*/

.uc-columns-gallery-wrapper .uc-columns-grid-panel .grid-arrow-left.uc-columns-skin-default{
	width:40px;
	height:40px;
	background-position:0px -40px;
	background-image:url('images/grid_arrow_left.png');
}

.uc-columns-gallery-wrapper .uc-columns-grid-panel .grid-arrow-left.uc-columns-skin-default.uc-columns-button-hover{
	background-position:0px -0px;
}

.uc-columns-gallery-wrapper .uc-columns-grid-panel .grid-arrow-left.uc-columns-skin-default.uc-columns-button-hover.uc-columns-button-disabled,
.uc-columns-gallery-wrapper .uc-columns-grid-panel .grid-arrow-left.uc-columns-skin-default.uc-columns-button-disabled{
	background-position:0px -80px;
}

/*--- right arrow ---*/

.uc-columns-gallery-wrapper .uc-columns-grid-panel .grid-arrow-right.uc-columns-skin-default{
	width:40px;
	height:40px;
	background-position:0px -40px;	
	background-image:url('images/grid_arrow_right.png');
}

.uc-columns-gallery-wrapper .uc-columns-grid-panel .grid-arrow-right.uc-columns-skin-default.uc-columns-button-hover{
	background-position:0px -0px;
}

.uc-columns-gallery-wrapper .uc-columns-grid-panel .grid-arrow-right.uc-columns-skin-default.uc-columns-button-hover.uc-columns-button-disabled,
.uc-columns-gallery-wrapper .uc-columns-grid-panel .grid-arrow-right.uc-columns-skin-default.uc-columns-button-disabled{
	background-position:0px -80px;
}

/*--- left arrow - horizontal panel type ---*/

.uc-columns-gallery-wrapper .uc-columns-grid-panel .grid-arrow-left-hortype.uc-columns-skin-default{
	width:15px;
	height:30px;
	background-image:url('images/slider_arrow_left.png');
	background-position:0px 0px;
}

.uc-columns-gallery-wrapper .uc-columns-grid-panel .grid-arrow-left-hortype.uc-columns-skin-default.uc-columns-button-hover{
	background-position:0px -30px;
}

.uc-columns-gallery-wrapper .uc-columns-grid-panel .grid-arrow-left-hortype.uc-columns-skin-default.uc-columns-button-hover.uc-columns-button-disabled,
.uc-columns-gallery-wrapper .uc-columns-grid-panel .grid-arrow-left-hortype.uc-columns-skin-default.uc-columns-button-disabled{
	background-position:0px -60px;
}


/*--- right arrow - horizontal panel type ---*/

.uc-columns-gallery-wrapper .uc-columns-grid-panel .grid-arrow-right-hortype.uc-columns-skin-default{
	width:15px;
	height:30px;
	background-image:url('images/slider_arrow_right.png');
	background-position:0px 0px;
}

.uc-columns-gallery-wrapper .uc-columns-grid-panel .grid-arrow-right-hortype.uc-columns-skin-default.uc-columns-button-hover{
	background-position:0px -30px;
}

.uc-columns-gallery-wrapper .uc-columns-grid-panel .grid-arrow-right-hortype.uc-columns-skin-default.uc-columns-button-hover.uc-columns-button-disabled,
.uc-columns-gallery-wrapper .uc-columns-grid-panel .grid-arrow-right-hortype.uc-columns-skin-default.uc-columns-button-disabled{
	background-position:0px -60px;
}


/* --- Strip Panel Arrows -- */

/* left and right arrows */

.uc-columns-strip-panel .uc-columns-strip-arrow-left.uc-columns-skin-default,
.uc-columns-strip-panel .uc-columns-strip-arrow-right.uc-columns-skin-default{
	width:25px;
	height:50px;
}

.uc-columns-strip-panel .uc-columns-strip-arrow-left.uc-columns-skin-default .uc-columns-strip-arrow-tip,
.uc-columns-strip-panel .uc-columns-strip-arrow-right.uc-columns-skin-default .uc-columns-strip-arrow-tip{
	background-position:0px 0px;
	background-repeat:no-repeat;
	width:4px;
	height:7px;
}

.uc-columns-strip-panel .uc-columns-strip-arrow-left.uc-columns-skin-default .uc-columns-strip-arrow-tip{
	background-image:url('images/arrows_strip_left.png');
}

.uc-columns-strip-panel .uc-columns-strip-arrow-right.uc-columns-skin-default .uc-columns-strip-arrow-tip{
	background-image:url('images/arrows_strip_right.png');	
}

.uc-columns-strip-panel .uc-columns-strip-arrow-left.uc-columns-skin-default.uc-columns-button-hover .uc-columns-strip-arrow-tip,
.uc-columns-strip-panel .uc-columns-strip-arrow-right.uc-columns-skin-default.uc-columns-button-hover .uc-columns-strip-arrow-tip{
	background-position:0px -7px;
}


/* up and down arrows */

.uc-columns-strip-panel .uc-columns-strip-arrow-up.uc-columns-skin-default,
.uc-columns-strip-panel .uc-columns-strip-arrow-down.uc-columns-skin-default{
	height:25px;
	width:50px;
}

.uc-columns-strip-panel .uc-columns-strip-arrow-up.uc-columns-skin-default .uc-columns-strip-arrow-tip,
.uc-columns-strip-panel .uc-columns-strip-arrow-down.uc-columns-skin-default .uc-columns-strip-arrow-tip{
	background-position:0px 0px;
	background-repeat:no-repeat;
	width:7px;
	height:4px;
}

.uc-columns-strip-panel .uc-columns-strip-arrow-up.uc-columns-skin-default .uc-columns-strip-arrow-tip{
	background-image:url('images/arrows_strip_up.png');
}

.uc-columns-strip-panel .uc-columns-strip-arrow-down.uc-columns-skin-default .uc-columns-strip-arrow-tip{
	background-image:url('images/arrows_strip_down.png');	
}

.uc-columns-strip-panel .uc-columns-strip-arrow-up.uc-columns-skin-default.uc-columns-button-hover .uc-columns-strip-arrow-tip,
.uc-columns-strip-panel .uc-columns-strip-arrow-down.uc-columns-skin-default.uc-columns-button-hover .uc-columns-strip-arrow-tip{
	background-position:-7px 0px;
}

.uc-columns-strip-panel .uc-columns-strip-arrow.uc-columns-skin-default.uc-columns-button-disabled .uc-columns-strip-arrow-tip{
	background-position:0px 0px;
	opacity:0.5;
	filter: alpha(opacity = 50);
}


/* --- Panel Handle Tip -- */

/* left and right handle */
.uc-columns-gallery-wrapper .uc-columns-handle-tip-left.uc-columns-skin-default,
.uc-columns-gallery-wrapper .uc-columns-handle-tip-right.uc-columns-skin-default{
	width:22px;
	height:36px;
	background-image:url('images/grid_handle_black_left.png');
	background-repeat:no-repeat;
	background-position:0px -36px;
}

.uc-columns-gallery-wrapper .uc-columns-handle-tip-right.uc-columns-skin-default{
	background-image:url('images/grid_handle_black_right.png');
	background-position:0px -36px;
}

.uc-columns-gallery-wrapper .uc-columns-handle-tip-left.uc-columns-button-hover.uc-columns-skin-default,
.uc-columns-gallery-wrapper .uc-columns-handle-tip-right.uc-columns-button-hover.uc-columns-skin-default{
	background-position:0px -0px;	
}

.uc-columns-gallery-wrapper .uc-columns-handle-tip-left.uc-columns-skin-default.uc-columns-button-closed,
.uc-columns-gallery-wrapper .uc-columns-handle-tip-right.uc-columns-skin-default.uc-columns-button-closed{
	background-position:0px -108px;
}

.uc-columns-gallery-wrapper .uc-columns-handle-tip-left.uc-columns-skin-default.uc-columns-button-closed.uc-columns-button-hover,
.uc-columns-gallery-wrapper .uc-columns-handle-tip-right.uc-columns-skin-default.uc-columns-button-closed.uc-columns-button-hover{
	background-position:0px -72px;
}


/* top and bottom handle */

.uc-columns-gallery-wrapper .uc-columns-handle-tip-top.uc-columns-skin-default,
.uc-columns-gallery-wrapper .uc-columns-handle-tip-bottom.uc-columns-skin-default{	
	width:36px;
	height:22px;
	background-image:url('images/grid_handle_black_top.png');
	background-repeat:no-repeat;
	background-position:-36px 0px;
}

.uc-columns-gallery-wrapper .uc-columns-handle-tip-bottom.uc-columns-skin-default{
	background-image:url('images/grid_handle_black_bottom.png');
	background-position:-36px 0px;
}

.uc-columns-gallery-wrapper .uc-columns-handle-tip-top.uc-columns-skin-default.uc-columns-button-hover,
.uc-columns-gallery-wrapper .uc-columns-handle-tip-bottom.uc-columns-skin-default.uc-columns-button-hover{
	background-position:0px 0px;	
}

.uc-columns-gallery-wrapper .uc-columns-handle-tip-top.uc-columns-skin-default.uc-columns-button-closed,
.uc-columns-gallery-wrapper .uc-columns-handle-tip-bottom.uc-columns-skin-default.uc-columns-button-closed{
	background-position:-108px 0px;
}

.uc-columns-gallery-wrapper .uc-columns-handle-tip-top.uc-columns-skin-default.uc-columns-button-closed.uc-columns-button-hover,
.uc-columns-gallery-wrapper .uc-columns-handle-tip-bottom.uc-columns-skin-default.uc-columns-button-closed.uc-columns-button-hover{
	background-position:-72px 0px;
}

