
._blox_simple_event_box * { 
	margin: 0; 
	padding: 0; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}
._blox_simple_event_box img{ max-width:100%; border:0; outline:0;} 
._blox_simple_event_box ._blox_event_box{
	color:#fff;
	font-family: inherit;
	overflow:hidden;
	min-height: 120px;
}

._blox_simple_event_box ._blox_event_box ._blox_image_box{	
	float: left;
	width: 80%;
	color: #FFFFFF;
	font-size: 21px;
	font-weight: 600;
	line-height: 28px;
	padding:35px 27px;
}
._blox_simple_event_box ._blox_event_box ._blox_image_box .sub-heading{
	color: #7C7F87;
	font-size: 15px;	
	line-height: 22px;
	display:block;
}
._blox_simple_event_box ._blox_event_box  ._blox_content_box{	
	float: left;
	width:20%;	
	height:120px;
	position:relative;
	padding: 30px 0;
}
._blox_simple_event_box ._blox_event_box  ._blox_content_box .heading{
	text-align: center;
	
}
._blox_simple_event_box ._blox_event_box  ._blox_content_box .heading .date{font-size: 43px;	font-weight: 800;text-align: center;}

._blox_simple_event_box ._blox_event_box  ._blox_content_box .heading .month{font-size: 15px;	font-weight: 600;text-align: center;text-align: center; margin:-10px 0 0; display:block;}