.uc-upcoming-event-box * { 
	margin: 0; 
	padding: 0; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}

.uc-upcoming-event-box{
	border-top:#dedede 1px solid;
	padding:40px 0px;
	border-bottom:#dedede 1px solid;
	display:table;
	width:100%;
	}
	
.uc-upcoming-event-box .uc-image-box img{
	max-width:190px;
	max-height:120px;
	object-fit:cover;
	width:100%;
	}
	
.uc-upcoming-event-box .uc-image-box{
	width:20%;
	display:table-cell;
	vertical-align:middle;
	}	
.uc-upcoming-event-box .uc-date{
	width:calc(20% - 60px);
	display:table-cell;
	vertical-align:middle;
	position:relative;
	top:-16px;
	text-align:left;
	padding:0 15px;
	}
.uc-upcoming-event-box .uc-content{
	width:44%;
	display:table-cell;
	vertical-align:middle;
	padding:0 0 0 30px;
	}
.uc-upcoming-event-box .uc-content-text{
	font-size: 15px;    
	line-height: 34px;
	color:#444444;	
	max-width:400px;
	padding:5px 0 0 0;
	} 		
.uc-upcoming-event-box .uc-btn-box{
	width:15%;
	display:table-cell;
	vertical-align:middle;
	text-align:right;
	}		
.uc-upcoming-event-box .uc-no,.uc-upcoming-event-box .uc-day-box{
	display:inline-block;
	}
	
.uc-upcoming-event-box .uc-no{
	font-weight:700;
	font-size:80px;
	color:#dedede;
	font-style:italic;
	padding:0 15px 0 0;
	}	
.uc-upcoming-event-box .uc-month{
	font-size: 20px;
	line-height: 26px;
	color:#000000;
	font-weight:600;
	}
.uc-upcoming-event-box .uc-day{
	font-size: 15px;    
	line-height: 17px;
	color:#000000;	
	}

.uc-upcoming-event-box .uc-title{
	font-size: 32px;
	line-height: 40px;
	font-style:italic;
	}
.uc-upcoming-event-box .uc-title a{
	color:#000000;
	text-decoration:none;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	}	
.uc-upcoming-event-box .uc-title a:hover{
	color:#b49761;
	}	
.uc-upcoming-event-box .uc-btn{
	font-size:12px;
	font-weight:400;
	min-width:130px;
	line-height:45px;
	text-align:center;
	display:inline-block;
	color:#ffffff;
	text-transform:uppercase;
	background-color:#b49761;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	text-decoration:none;
	}
.uc-upcoming-event-box .uc-btn:hover{
	background-color:#000000;
	}	
	
@media(max-width:1030px){
	.uc-upcoming-event-box .uc-btn-box{ display:none;}
	.uc-upcoming-event-box .uc-date{ width:30%; text-align:center;}
	.uc-upcoming-event-box .uc-content{ width:50%;}
	.uc-upcoming-event-box .uc-image-box{width:20%;}
	}	
	
@media(max-width:767px){
	.uc-upcoming-event-box{ display:block;}
	.uc-upcoming-event-box .uc-date,.uc-upcoming-event-box .uc-content,.uc-upcoming-event-box .uc-image-box{ width:100%; text-align:center; display:block; }
	.uc-upcoming-event-box .uc-content-text{ padding:15px 15px 0px 15px; margin:0 auto;}
	.uc-upcoming-event-box .uc-image-box img { max-width: 250px; max-height: 140px; margin-bottom:20px;}
	.uc-upcoming-event-box .uc-content{ padding:0 15px;}
	.uc-upcoming-event-box .uc-btn-box{ display:block; text-align:center; padding:20px 0px 0px; width:100%;}
	}	