
.uc_timeline_bullets *{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.uc_timeline_bullets .uc_container_holder{
	font-size:14px;
	line-height:20px;
	color:#ffffff;
}

.uc_timeline_bullets .uc_timeline_bullets_row
{
	padding:16px 17px 16px 17px;
	overflow:hidden;
	position:relative;
	text-align:left;
	width:100%;
	min-height:210px;
}

.uc_timeline_bullets .uc_timeline_bullets_row .uc_icon_holder
{
	width:43px;
	height:43px;
	border-radius:50%;
	font-size:16px;
	margin:6px 17px 14px 40px;
	float:left;
	text-align:center;
	line-height:43px;
	position:relative;
	z-index:5;
}

.uc_timeline_bullets .uc_timeline_bullets_row .uc_icon_holder i
{
	position:relative;

}

.uc_timeline_bullets .uc_timeline_bullets_row .uc_content_box
{
	float:left;
	width:calc( 100% - 104px) ;
	padding-top:14px;
}

.uc_timeline_bullets .uc_timeline_bullets_row .uc_content_box h2
{
	font-size:16px;
	font-weight:300;
	margin-bottom:7px;
	text-transform:uppercase;
}

.uc_timeline_bullets .uc_top_border
{
	position:absolute;
	left:0px;
	top:0px;
	width:2px;
	height:100%;
	display:block;
	z-index:1;
}



.uc_timeline_bullets .uc_left_border
{
	position:absolute;
	left:2px;
	top:43px;
	width:45px;
	height:2px;
	display:block;
	
	z-index:2;
}

.uc_timeline_bullets .uc_timeline_bullets_row:last-child .uc_top_border
{
	height:80%;
}

.uc_timeline_bullets .uc_timeline_bullets_row:first-child .uc_top_border
{
	top:0px;
}

.uc_timeline_bullets  .uc_left_section
{
	float:left;
	width:50%;
	margin-top:20px;
}

.uc_timeline_bullets .uc_left_section .uc_left_border
{
	right:0px;
	left:inherit;
}

.uc_timeline_bullets  .uc_left_section .uc_icon_holder
{
	float:right;
	margin: 6px 40px 14px 17px;
}

.uc_timeline_bullets  .uc_left_section .uc_content_box
{
	float:right;
	text-align:right;
}

.uc_timeline_bullets  .uc_left_section .uc_top_border
{
	display:none;
}

.uc_timeline_bullets  .uc_right_section
{
	float:right;
	width:50%;
	padding-top:123px;
	position:relative;
}


@media only screen and (max-width: 680px) {
  .uc_timeline_bullets .uc_left_section{ width:100%;  }
  .uc_timeline_bullets .uc_right_section{ width:100%;  }
  .uc_timeline_bullets .uc_left_section .uc_timeline_bullets_row { border-right:#e7e7e7 1px solid;}
}
